<section id='new' class="section-team-page">
	<div class="section-actions">
		<ul>
			<% unless @team.backet? %>
				<%-if @is_current_user_admin%>
					<li>
						<a href="#modal-delete-team" data-toggle="modal" data-team-id="<%=@team.id%>">
							<i class="ico-bin"></i>
							<span class='remove-team'>remove team</span>
						</a>
					</li>
				<%end%>
			<% end %>
		</ul>
	</div><!-- /.section-actions -->

	<div class="section-head">
		<div class="section-head-inner">
			<div class="team-page">
				<div class="team team-sortable">

					<!-- <a href="#modal-delete-team" data-toggle="modal" data-team-id="<%=@team.id%>">
						<div class="team-more-actions">
							<span class="team-delete">
								<i class="ico-delete"></i>
							</span>
						</div>
					</a> -->

					<%-if @is_current_user_admin%>
						<a href="#modal-avatar" class="team-inner" data-toggle="modal" data-source-id="<%=@team.id%>" >
							<div class="team-image">
								<%=image_tag @team.team_image, { class: "team-image-selected",alt: "",id: @team.id } %>
									<div class="team-image-change">
										<span>
											Change<br>
											Image
										</span>
									</div><!-- /.team-image-change -->
								<!-- <div class="team-model-delete">
									<span>
										Delete<br>
										Team
									</span>
								</div> -->

								<div class="team-actions">
									<span class="team-count"><%= @team.team_profiles.count %></span>
								</div><!-- /.team-actions -->
							</div><!-- /.team-image -->
						</a>
					<%else%>
						<div class="team-image">
							<%=image_tag @team.team_image, { class: "team-image-selected",alt: "",id: @team.id } %>
							<div class="team-actions">
								<span class="team-count"><%= @team.team_profiles.count %></span>
							</div><!-- /.team-actions -->
						</div><!-- /.team-image -->
					<%end%>

				</div><!-- /.team -->

				<div class="team-page-content" data-team-id="<%=@team.id%>">
					<h4 class="team-page-name" <%='contenteditable' if @is_current_user_admin%>><%= @team.name %></h4><!-- /.team-page-name -->

					<div class="team-page-description" <%='contenteditable' if @is_current_user_admin%> data-placeholder="This is where you can write a short description for this team."><%= @team.description %></div><!-- /.team-page-description -->
				</div><!-- /.team-page-content -->
			</div><!-- /.team-page -->
		</div><!-- /.section-head-inner -->

		<div class="section-head-form collapse" id="mass-message">
			<a href="#mass-message" class="section-head-close" data-toggle="collapse">
				<i class="ico-close"></i>
			</a>

			<script type="text/template" id="message-template">
				<div class="message message-hidden">
					<div class="message-avatar">
						<img src="{{avatar}}" alt="" width="69" height="69">
					</div><!-- /.message-avatar -->

					<div class="message-head clearfix">
						<div class="message-actions">
							<ul>
								<li>
									<a href="#modal-delete-profile-from-team" data-toggle="modal">
										<i class="ico-delete"></i>

										<span>Delete message</span>
									</a>
								</li>
							</ul>
						</div><!-- /.message-actions -->

						<div class="message-head-inner">
							<div class="message-author">{{author}}</div><!-- /.message-author -->

							<div class="message-date">November 26, 2015 &bull; 11:23pm</div><!-- /.message-date -->
						</div><!-- /.message-head-inner -->
					</div><!-- /.message-head -->

					<div class="message-entry">{{content}}</div><!-- /.message-entry -->
				</div><!-- /.message -->
			</script>

			<div class="form-message">
				<div class="messages">
					<div class="messages-wrapper" id="messages-mass"></div><!-- /.messages-wrapper -->
				</div><!-- /.messages -->

				<%= render :partial => 'teams/message_form' , :locals =>  { profile: current_user.profile }%>
			</div><!-- /.form-message -->
		</div><!-- /.section-head-form -->
	</div><!-- /.section-head -->
</section><!-- /.section-team-page -->


<section class="section-results flex">
	<div class="section-creatives col">
	<%-if @accepting_profiles.count >= 0%>
		<div class='groups-label'>CREATIVES</div>
	<%end%>

	<%= render :partial => 'teams/owner' , :locals =>  { team_user: @team.owner }%>

	<% @accepting_profiles.each do |team_user| %>
        <%= render :partial => 'teams/creative' , :locals =>  { team_user: team_user }%>
	<% end %>

	<%-if @is_current_user_admin%>
	    <%- if @team.pending_profiles.count > 0%>
			<div class='groups-label'>INVITATIONS</div>
				<% @team.pending_profiles.each do |team_profile| %>
					<div class="user-creatives" >
						<div class="dropdown-actions">
					        <a href="#" class="user-image img-avatar" >
					            <%=image_tag team_profile.profile.profile_image, { alt: "" ,class: 'dimmed', width: '184px' , height: '184px'} %>
					        </a>
					        <%-if team_profile.profile.user.lastname == '-'%>
                                <span class='name-label'><%=team_profile.profile.user.email%></span>
                            <%else%>
                                <span class='name-label'><%=team_profile.profile.user.name%></span>
                            <%end%>
						    <%- if team_profile.invitation_status == 'pending'%>
							    <span class='pending'>(PENDING)</span>
							<%end%>
						    <%- if team_profile.invitation_status == 'declined'%>
							    <span class='pending'>(DECLINED)</span>
							<%end%>
					        <%-if @is_current_user_admin%>
						        <ul class="dropdown-menu-actions">
						            <li>
						                <a class='delete' href="<%= canceled_invitation_url(type: 'canceled', by: 'admin', team_profile_id: team_profile.id)%>" data-profile-id="">
						                    <i class="ico-delete"></i>
						                </a>
						            </li>
						        </ul>
						        <span class='undericon hide' id='delete'>CANCEL INVITE</span>
						    <%end%>
					    </div>
				    </div>
				<%end%>
			<%end%>

		<div class="add-creative form-invite">
				<!-- <form action="?" method="post"> -->
				<%= form_for(User.new, :url => batch_invite_users_path , :html => { :method => :post, :role => 'form',:remote => true , :id => 'invite_form'}) do |f| %>

				<div class="form-body">
					<div class="tabs-invites">
						<ul class="tabs-nav list-avatars">
							<li>
								<a class='add-invite-btn'href="#invite" data-toggle="tab">
									<div class="team team-alt">
										<div class="team-inner">
											<div class="team-image">
												<%=image_tag "team-default-active.jpg", { alt: "" } %>
												<div class="team-actions">
													<span class="team-add plus-btn">
														<i class="ico-plus"></i>
													</span>
												</div><!-- /.team-actions -->
												<span class='name-label'>Invite Creatives</span>
											</div><!-- /.team-image -->
										</div>
									</div><!-- /.team -->
								</a>
							</li>


						</ul><!-- /.tabs-nav -->

						<div class="tab-content">
							<div class="tab-pane invite-tab" id="invite">
								<div class="form-row clearfix">
									<div class="">
										<div class="form-controls invite-input">
											<!-- <input type="text" class="form-control" name="field-email1" id="field-email1" value="" placeholder="Email *"> -->
											<span></span>
											<%= text_field_tag "user[][email]",'', :no_label => true , :class =>"form-control input-message" ,:placeholder => "Email*", :type=>"email" %>
											<%= hidden_field(:team_id, @team.id) %>
											<div class="form-actions text-center">
												<i class="fa fa-spinner fa-2x fa-pulse hidden"></i>
											</div><!-- /.form-actions -->
											<div class="form-error text-center" id="invite-form-error">
												<p></p>
											</div><!-- /.form-error -->
										</div><!-- /.form-controls -->
									</div><!-- /.form-col -->
								</div><!-- /.form-row -->
							</div><!-- /.tab-pane -->
						</div><!-- /.tab-content -->
					</div><!-- /.tabs-invites -->
				</div><!-- /.form-body -->
				<!-- </form> -->
				<% end %>
			</div><!-- /.form-invite -->
		<%end%>

	</div>
	<div class="chat col section-body">
		<%= render :template => 'in_messages/index_team' %>
	</div><!-- /.section-body -->
</section><!-- /.section-results -->



<script type="text/javascript">
$(document).ready(function(){
	var timerId;
	$('.form-error').text().replace(/[\t,\n]/g,'');
	function errorToField() {
	  var a = $('.form-error').text().replace(/[\t,\n]/g,'');
	  if(a!=''){
	  	$('.form-error').text('');
	  	$('.input-message').hide();
	  	$('.invite-input span').css('display','block');
	  	$('.invite-input span').text(a);
	  	clearInterval(timerId);
	  	setTimeout('location.reload()', 3000);
	  }
	};

	$('.dropdown-actions a.img-avatar').click(function(event){
		event.preventDefault();
		var menu = $(event.currentTarget).parent().find('.dropdown-menu-actions');
		if(menu.css('display') =='block'){
			menu.hide();
		}else{
			$('.dropdown-menu-actions').hide();
			menu.show();
		}
	});

	$('.tab-pane').click(function(){
        $('.input-message').show();
        $('.invite-input span').css('display','none');
        timerId = setInterval(errorToField, 500);
	 });

	$('.invite-to-team').keydown(function(event) {
		if (event.keyCode == 13) {
		    $(this.form).submit();
		    return false;
		 }
		}).focus(function(){
		  if(this.value == "Email*"){
		       this.value = "";
		  }
		}).blur(function(){
		  if(this.value==""){
		       this.value = "Email*";
		  }
		});

		// $('.input-message').val($('.form-error').text());
	});
	$(function(){
		<% if user_signed_in? && @team_avatar.eql?(true) %>
			$("#modal-avatar").modal({show: true});
		<% end %>
	});
</script>
