<section class="section-team-page">
	<div class="section-actions">
		<ul>
			<% unless @team.backet? %>
			<li>
				<a href="#modal-delete-team" data-toggle="modal" data-team-id="<%=@team.id%>">
					<i class="ico-bin"></i>
					<span>Delete Team</span>
				</a>
			</li>
			<% end %>
		</ul>
	</div><!-- /.section-actions -->

	<div class="section-head">
		<div class="section-head-inner">
			<div class="team-page">
				<div class="team team-sortable">

					<!-- <a href="#modal-delete-team" data-toggle="modal" data-team-id="<%=@team.id%>">
						<div class="team-more-actions">
							<span class="team-delete">
								<i class="ico-delete"></i>
							</span>
						</div>
					</a> -->

					<a href="#modal-avatar" class="team-inner" data-toggle="modal" data-source-id="<%=@team.id%>" >
						<div class="team-image">
							<%=image_tag @team.team_image, { class: "team-image-selected",alt: "",id: @team.id } %>
							<div class="team-image-change">
								<span>
									Change<br>
									Image
								</span>
							</div><!-- /.team-image-change -->

							<!-- <div class="team-model-delete">
								<span>
									Delete<br>
									Team
								</span>
							</div> -->

							<div class="team-actions">
								<span class="team-count"><%= @team.team_profiles.count %></span>
							</div><!-- /.team-actions -->
						</div><!-- /.team-image -->
					</a>

				</div><!-- /.team -->

				<div class="team-page-content" data-team-id="<%=@team.id%>">
					<h4 class="team-page-name" contenteditable><%= @team.name %></h4><!-- /.team-page-name -->

					<div class="team-page-description" contenteditable data-placeholder="This is where you can write a short description for this team."><%= @team.description %></div><!-- /.team-page-description -->
				</div><!-- /.team-page-content -->
			</div><!-- /.team-page -->
		</div><!-- /.section-head-inner -->

		<div class="section-head-form collapse" id="mass-message">
			<a href="#mass-message" class="section-head-close" data-toggle="collapse">
				<i class="ico-close"></i>
			</a>

			<script type="text/template" id="message-template">
				<div class="message message-hidden">
					<div class="message-avatar">
						<img src="{{avatar}}" alt="" width="69" height="69">
					</div><!-- /.message-avatar -->

					<div class="message-head clearfix">
						<div class="message-actions">
							<ul>
								<li>
									<a href="#modal-delete-profile-from-team" data-toggle="modal">
										<i class="ico-delete"></i>

										<span>Delete message</span>
									</a>
								</li>
							</ul>
						</div><!-- /.message-actions -->

						<div class="message-head-inner">
							<div class="message-author">{{author}}</div><!-- /.message-author -->

							<div class="message-date">November 26, 2015 &bull; 11:23pm</div><!-- /.message-date -->
						</div><!-- /.message-head-inner -->
					</div><!-- /.message-head -->

					<div class="message-entry">{{content}}</div><!-- /.message-entry -->
				</div><!-- /.message -->
			</script>

			<div class="form-message">
				<div class="messages">
					<div class="messages-wrapper" id="messages-mass"></div><!-- /.messages-wrapper -->
				</div><!-- /.messages -->

				<%= render :partial => 'teams/message_form' , :locals =>  { profile: current_user.profile }%>
			</div><!-- /.form-message -->
		</div><!-- /.section-head-form -->
	</div><!-- /.section-head -->
</section><!-- /.section-team-page -->


<section class="section-results">
	<div class="section-creatives">
	<div class='slogan'>CREATIVES</div>

	<% @profiles.each do |profile| %>
        <div class="user-creatives ">
	        <div class="dropdown">
				<a href="#" class="user-image" data-toggle='dropdown'>
		            <%=image_tag profile.profile_image, { alt: "" ,width: '184px' , height: '184px'} %>
		        </a>
				<ul class="dropdown-menu">
					<li>
						<a class='private' href="#" data-profile-id="<%=profile.user_id%>">
							<i class="ico-message"></i>
						</a>
					</li>
					<li>
						<a href="<%=user_path(profile.user)%>" data-profile-id="<%=profile.user_id%>">
							<i class="ico-profile"></i>
						</a>
					</li>
					<%- if @team.owner_id == current_user.id%>
						<li>
							<a href="<%=set_group_admin_path(user_id: profile.user, team: @team)%>" data-profile-id="<%=profile.user_id%>">
								<i class="ico-admin"></i>
							</a>
						</li>
						<li>
							<a href="#" data-profile-id="<%=profile.user_id%>">
								<i class="ico-delete"></i>
							</a>
						</li>
					<%end%>
				</ul>
			</div>
	    </div>
	<% end %>

    <%- if @team.pending_profiles.count > 0%>
		<div class='slogan'>INVITATIONS</div>
		<% @team.pending_profiles.each do |team_profile| %>
			<div class="user-creatives" >
				<a href="#" class="user-image">
			        <%=image_tag team_profile.profile.profile_image, { alt: "" ,width: '184px' , height: '184px'} %>
			    </a>
		    </div>
		<%end%>
	<%end%>

	</div>
	<div class="section-body">
		<%= render :template => 'in_messages/index_team' %>
	</div><!-- /.section-body -->
</section><!-- /.section-results -->



<%= javascript_tag do %>
$(function(){
	<% if user_signed_in? && @team_avatar.eql?(true) %>
		$("#modal-avatar").modal({show: true});
	<% end %>
});
<% end %>
