<%= form_for(message,:url => in_messages_path  ,:html => { :method => :post, :class => "message-to" ,:role => 'form', :id => 'new_message_form_id'}) do |f| %>
	<%= f.hidden_field(:from_id,value: current_user.id) %>
	<div class="form-body">
		<div class="form-row">
			<label class="form-label">To</label>

			<div class="form-controls">
				<%= f.select :to_id, User.all.map {|u| [u.name,u.id] unless u.id.eql?(current_user.id)} ,{ include_blank: true },{class: "form-control form-to"}%>
			</div>
		</div>

		<div class="form-row">
			<label class="form-label">Message</label>

			<div class="form-controls">				
				<%= f.text_area :note ,:rows => 6, :class =>"form-control" ,:placeholder => "" %>		
			</div>
		</div>
	</div>

	<div class="form-actions">
		<%= f.submit 'Send Message' , class: 'btn' %>
	</div>
<% end %>