<%= form_for(message,:url => bulk_create_chat_message_path  ,:html => { :method => :post, :class => "message-to" ,:role => 'form', :id => 'new_message_form_id'}) do |f| %>
    <%= f.hidden_field(:from_id, value: current_user.id) %>
    <div class="form-body">
        <div class="form-row">
            <div class="form-controls message input">
                <%= f.text_area :note ,:rows => 1, :class =>"form-control send-message" ,:placeholder => "Write your message here" %>
            </div>
            <%= f.hidden_field :to_id, :multiple => true, :value => "#{(@private)? @to_id : current_user.id}", class: 'to-ids' %>
            <%= f.hidden_field :team_id, :value => "#{@team.id}", class: 'team_id' %>
            <%= f.hidden_field :private, :value => "#{@private}", class: 'team_id' %>
        </div>
    </div>

    <div class="form-actions">
        <%#= f.submit 'Send Message' , class: 'btn' %>
        <i class="fa fa-spinner fa-2x fa-pulse hidden"></i>
    </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function(){
      $('.send-message').keydown(function(event) {
        if (event.keyCode == 13) {
            $(this.form).submit()
            return false;
         }
      }).focus(function(){
          if(this.value == "Write your comment here..."){
               this.value = "";
          }
      }).blur(function(){
          if(this.value==""){
               this.value = "Write your comment here...";
          }
      });
      $('textarea').autosize();
      $('textarea').css('height', '36px');
    });
</script>
