<div class="message" id="message-<%=message.id%>" data-id="<%=message.id%>" data-parent="<%=message.parent_id%>" >
	<div class="message-avatar">
		<%=image_tag "form-avatar.jpg", { alt: "" ,width: "69" , height: "69"} %>
	</div><!-- /.message-avatar -->

	<div class="message-head clearfix">
		<div class="message-actions">
			<ul>
				<li>
					<a href="#modal-delete" data-toggle="modal" data-message-id="<%=message.id%>">
						<i class="ico-delete"></i>

						<span>Delete message</span>
					</a>
				</li>
			</ul>
		</div><!-- /.message-actions -->

		<div class="message-head-inner">
			<div class="message-author"><%=message.from.name %></div><!-- /.message-author -->

			<div class="message-date"><%=message.updated_at.strftime("%B %d, %Y - %H:%M%P") %></div><!-- /.message-date -->
		</div><!-- /.message-head-inner -->
	</div><!-- /.message-head -->

	<div class="message-entry">
		<%=message.note %>
	</div>
</div><!-- /.message -->
