<div class="message" id="message-<%=message.id%>" data-id="<%=message.id%>" data-parent="<%=message.parent_id%>" >
	<div class="message-avatar">
		<%=image_tag message.try(:from).try(:profile_image), { alt: "" ,width: "69" , height: "69"} %>
	</div><!-- /.message-avatar -->

	<div class="message-head clearfix">
		<div class="message-actions">
			<ul>
				<li>
					<%- if (current_user.id == message.from_id) or @is_current_user_admin%>
						<a href="#modal-delete" data-toggle="modal" data-message-id="<%=message.id%>">
							<i class="ico-delete"></i>

							<span>Delete message</span>
						</a>
					<%end%>
				</li>
			</ul>
		</div><!-- /.message-actions -->

		<div class="message-head-inner">
			<div class="message-author"><%=message.from.try(:name) if message.from %></div><!-- /.message-author -->

			<div class="message-date"><%=message.updated_at.strftime("%B %d, %Y - %H:%M%P") %></div><!-- /.message-date -->
		</div><!-- /.message-head-inner -->
	</div><!-- /.message-head -->

	<div class="message-entry">
		<%=message.note.html_safe %>
	</div>
</div><!-- /.message -->
