<div class="chat-channel" id="conversation" data-chan="team-<%=@team.id.to_s%>">
    <%-if @private%>
        <a href="<%= team_path(@team)%>" class='private-close'>
            <i class="ico-close"></i>
        </a>
    <%end%>
    <div class="messages">
        <div class="messages-inner <%= (@private)? 'private-back' : ''%>">
            <div class="messages-wrapper">
                <%-unless @private%>
                    <%= render :partial => 'in_messages/default_message' , :locals =>  { team: @team }%>
                <%end%>
                <% messages.each do |message| %>
                    <%= render :partial => 'in_messages/message' , :locals =>  { message: message }%>
                <% end %>

            </div><!-- /.messages-wrapper -->
        </div><!-- /.messages-inner -->
    </div><!-- /.messages -->
    <div class="form-message">
        <%= render :partial => 'in_messages/form_team' , :locals =>  { message: InMessage.new }%>
    </div><!-- /.form-message -->
</div><!-- /.tab-pane -->
