<div class="main">
	<div class="shell">
		<section class="section-inbox clearfix">
			<div class="section-aside">
				<header class="section-head clearfix">
					<h2 class="section-title">
						<span class="section-back">
							<i class="ico-prev"></i>
						</span>
						Inbox
					</h2><!-- /.section-title -->
				</header><!-- /.section-head -->

				<div class="section-body">
					<ul class="conversations <%='active' if @messages.blank? %>">
						<li class="conversation-compose">
							<a href="#conversation-compose" data-toggle="tab">
								<i class="ico-message-add"></i>

								<span>Compose</span>
							</a>
						</li><!-- /.conversation-new -->

						<% @messages.each_with_index do |message,index| %>
							<%= render :partial => 'message_header' , :locals =>  { message: message ,active: (index == 0) ? 'active' : ''}%>
						<% end %>
		
					</ul><!-- /.conversations -->
				</div><!-- /.section-body -->
			</div><!-- /.section-aside -->

			<div class="section-content">
				<div class="tab-content">
					<div class="tab-pane <%='active' if @messages.blank? %>"  id="conversation-compose">
						<div class="messages">
							<div class="messages-inner">
								<div class="form-message">
									<%= render :partial => 'form' , :locals =>  { message: InMessage.new }%>
								</div><!-- /.form-message -->
							</div><!-- /.messages-inner -->
						</div><!-- /.messages -->
					</div><!-- /.tab-pane -->

					<% @messages.each_with_index do |message,index| %>
						<%= render :partial => 'message_content' , :locals =>  { message: message ,active: (index == 0) ? 'active' : ''}%>
					<% end %>

				</div><!-- /.tab-content -->

				<!-- <script type="text/template" id="message-template">
					<div class="message message-hidden">
						<div class="message-avatar">
							<img src="{{avatar}}" alt="" width="69" height="69">
						</div>

						<div class="message-head clearfix">
							<div class="message-actions">
								<ul>
									<li>
										<a href="#modal-delete" data-toggle="modal">
											<i class="ico-delete"></i>

											<span>Delete message</span>
										</a>
									</li>
								</ul>
							</div>

							<div class="message-head-inner">
								<div class="message-author">{{author}}</div>

								<div class="message-date">{{date}}</div>
							</div>
						</div>

						<div class="message-entry">{{content}}</div>
					</div>
				</script> -->

			</div><!-- /.section-content -->
		</section><!-- /.section-inbox -->
	</div><!-- /.shell -->
</div><!-- /.main -->