<li class="freelancer">
	<div class="freelancer-icon">
		<i class="ico-user"></i>
	</div>

	<div class="freelancer-head">
		<h5 class="freelancer-name"><%= profile.user.name %></h5>

		<p><%=profile.location %></p>
	</div>

	<ul class="freelancer-links">
		<li>
			<%
				url = profile.online_portfolio.blank? ? "#" : profile.online_portfolio
				unless url =~ /\A#{URI::regexp(['http', 'https'])}\z/
					url = "http://#{url}"
				end	
			%>
			<a href="<%=url%>" target="_blank"> <%=profile.online_portfolio%></a>
		</li>
		
		<li>
			<a href="mailto:<%= profile.user.email %>" target="_blank"><%= profile.user.email %></a>
		</li>
		
		<!-- <li>
			<a href="#">Vcard</a>
		</li> -->
	</ul>

	<div class="freelancer-foot">
		<ul class="freelancer-socials">
			<li>
				<a href="<%=profile.linkedin_profile%>" target="_blank">
					<i class="ico-linkedin"></i>
				</a>
			</li>
			
			<li>
				<a href="<%=profile.behance%>" target="_blank">
					<i class="ico-behance"></i>
				</a>
			</li>
			
			<li>
				<a href="<%=profile.vimeo%>" target="_blank">
					<i class="ico-vimeo"></i>
				</a>
			</li>
		</ul>

		<div class="freelancer-foot-inner">
			<strong> Senior <%#= profile.job_title %></strong>

			<p><%= profile.skills %></p>
		</div>
	</div>
</li>