<div class="teams-menu">
	<%
		team_contacts = current_user.my_contacts_team 
	%>
	<div class="teams-default">
		<div class="team team-droppable" data-accept=".user-draggable">
			<%= link_to team_contacts , class: "team-inner"  do %>
				<div class="team-image">
					<%=image_tag team_contacts.team_image, { alt: "" } %>
					<div class="team-actions">
						<span class="team-count team-count-<%=team_contacts.id%> team-count-backet"><%= team_contacts.team_profiles.count %></span>
					</div><!-- /.team-actions -->
				</div><!-- /.team-image -->

				<div class="team-title"><%= team_contacts.name %></div><!-- /.team-title -->
			<% end %>
		</div><!-- /.team -->
	</div><!-- /.teams-default -->

	<div class="teams-slider">
		<div class="teams-slides owl-carousel">
			
			<% current_user.teams.each do |team| %>
				<div class="teams-slide">
					<div class="team team-droppable" data-accept=".user-draggable">
						<%= render :partial => 'teams/team' , :locals =>  { team: team }%>
					</div><!-- /.team -->
				</div><!-- /.teams-slide -->
			<% end %>

		
		</div><!-- /.teams-slides -->
	</div><!-- /.teams-slider -->

	<script type="text/template" id="template-team">
		<div class="teams-slide">
			<div class="team team-new team-droppable" data-accept=".user-draggable" data-image="{{image_name}}">
				<a href="#" class="team-inner">
					<div class="team-image">
						<img src="{{image}}" alt="">
						<div class="team-actions">
							<span class="team-count">0</span>
						</div>
					</div>

					<div class="team-title" contentEditable>{{title}}</div>
				</a>
			</div><!-- /.team -->
		</div><!-- /.teams-slide -->
	</script>

	<div class="teams-create">
		<div class="team team-droppable" data-accept=".user-draggable">
			<a href="#template-team" class="team-inner team-create">
				<div class="team-image">
					<%=image_tag "team-default.jpg", { alt: "" } %>

					<div class="team-actions">
						<span class="team-add">
							<i class="ico-plus"></i>
						</span>
					</div><!-- /.team-actions -->
				</div><!-- /.team-image -->

				<div class="team-title">Create Team</div><!-- /.team-title -->
			</a>
		</div><!-- /.team -->
	</div><!-- /.teams-create -->
</div><!-- /.teams-menu -->

<%= javascript_tag do %>
	var team_images = <%=raw team_images %>;
<% end %>