<div class="user-main">
	<div class="user-actions">
		<ul>
			<li>
				<div class="dropdown">
					<a href="#" class="dropdown-btn" data-toggle="dropdown">
						<i class="ico-add"></i>

						<span>Add To Team</span>
					</a>

					<ul class="dropdown-menu user-groups">
						<% ([current_user.my_contacts_team] + current_user.teams).each do |team| %>
							<li>
								<div class="checkbox">
									<input type="checkbox" name="field-user<%=team.id%>-group<%=team.id%>" id="field-user<%=team.id%>-group<%=team.id%>">
									<label for="field-user<%=team.id%>-group<%=team.id%>" data-profile="<%=profile.id%>" data-team="<%=team.id%>" class="add-profile"><%=team.name%></label>
								</div><!-- /.checkbox -->
							</li>
						<% end %>
						<li>
							<button class="user-create-group" data-template="#user-group-template" data-profile="<%=profile.id%>" >(+) create a new team</button>
						</li>
					</ul><!-- /.dropdown-menu -->
				</div><!-- /.dropdown -->
			</li>

			<li>
				<a href="#" class="user-message">
					<i class="ico-message"></i>

					<span>Send Message</span>
				</a>
			</li>
		</ul>
	</div><!-- /.user-actions -->

	<div class="user-head">
		<a href="#" class="user-image user-draggable <%= profile_teams_classes(profile)%>">
			<!-- <img src="../images/temp/user1.jpg" alt=""> -->
			<%=image_tag profile.profile_image, { alt: "" } %>
		</a>

		<div class="user-head-placeholder">
			<span>
				Drag to the<br>
				teams menu
			</span>
		</div><!-- /.user-head-placeholder -->
	</div><!-- /.user-head -->

	<div class="user-body">
		<div class="user-name"><%= profile.user.name %></div><!-- /.user-name -->

		<div class="user-title">
			<a href="<%=profiles_index_path(:search=>params[:search],:skills=>params[:skills],:search_by=>params[:search_by],:location => profile.job_title) %>"><%= profile.job_title %></a>
		</div><!-- /.user-title -->

		<div class="user-location">
			<a href="<%=profiles_index_path(:search=>params[:search],:skills=>params[:skills],:search_by=>params[:search_by],:location => profile.location) %>"><%=profile.location%></a>
		</div><!-- /.user-location -->

		<ul class="user-socials">
				<% unless profile.online_portfolio.blank? -%>
					<li>
						<a href="<%=toggle_url_protocole(profile.online_portfolio)%>" target="_blank" <%#=profile.link_active_class('linkedin_profile')%>>
							<i class="ico-link"></i>
						</a>
					</li>
				<% end -%>

			    <% unless profile.linkedin_profile_url.blank? -%>
					<li>
						<a href="<%=toggle_url_protocole(profile.linkedin_profile_url)%>" target="_blank" <%#=profile.link_active_class('linkedin_profile')%>>
							<i class="ico-linkedin"></i>
						</a>
					</li>
				<% end -%>
				<% unless profile.behance_profile_url.blank? -%>
					<li>
						<a href="<%=toggle_url_protocole(profile.behance_profile_url)%>" target="_blank" <%#=profile.link_active_class('behance')%>>
							<i class="ico-behance"></i>
						</a>
					</li>
				<% end -%>
				<% unless profile.vimeo_profile_url.blank? -%>
					<li>
						<a href="<%=toggle_url_protocole(profile.vimeo_profile_url)%>" target="_blank" <%#=profile.link_active_class('vimeo')%> >
							<i class="ico-vimeo"></i>
						</a>
					</li>
			<% end -%>
		</ul>
	</div><!-- /.user-body -->
</div><!-- /.user-main -->