<div class="form">
	<div class="form-head">
		<h4 class="form-title"> Freelancer Profile</h4>
	</div>

	<div class="form-body">
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-username" class="form-label">Email: <%= @user.email%></label>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-freelancer-additional-email" class="form-label">Additional Email: <%= @user.freelancer.email %> </label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-freelancer-first-name" class="form-label">First Name: <%= @user.firstname %></label>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-freelancer-last-name" class="form-label">Last Name: <%= @user.lastname %></label>
					</div>
				</div>
			</div>

			<div class="form-row">
				<label for="field-freelancer-location" class="form-label">
					Location: <%= @user.freelancer.location %>
				</label>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-website" class="form-label">Website: <%= @user.freelancer.online_portfolio %></label>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-linkedin" class="form-label">LinkedIn: <%= @user.freelancer.linkedin_profile %></label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-behance" class="form-label">Behance: <%= @user.freelancer.behance %></label>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-vimeo" class="form-label">Vimeo: 	<%= @user.freelancer.vimeo %></label>
					</div>
				</div>
			</div>

			<div class="form-row">
				<label for="field-skills" class="form-label">Skills: <%= @user.freelancer.skills %></label>
			</div>
		</div>
	</div>
</div>