<div class="form">
	<div class="form-head">
		<h4 class="form-title"> Studio Profile</h4>
	</div>

	<div class="form-body">
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-username" class="form-label">Email: <%= @user.email%></label>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-additional-email" class="form-label">Additional Email: <%= @user.studio.email %></label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-first-name" class="form-label">First Name: <%= @user.firstname %></label>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-last-name" class="form-label">Last Name: <%= @user.lastname %></label>
					</div>
				</div>
			</div>


			<div class="form-row">
				<label for="field-location" class="form-label">Location: <%= @user.studio.location %>	</label>
			</div>
		</div>

		<div class="form-group">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-company-name" class="form-label">Company Name: <%= @user.studio.company_name %></label>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-row">
						<label for="field-website" class="form-label">Company Website: <%= @user.studio.company_website %></label>
					</div>
				</div>
			</div>


			<div class="form-row">
				<label for="field-social-links" class="form-label">Job Title: <%= @user.studio.job_title %></label>
			</div>


			<div class="form-row">
				<label for="field-social-links" class="form-label">Social Links: <%= @user.studio.social_links %></label>
			</div>

		</div>
	</div>
</div>