<div class="modal-body">
  <div class="form form-signup">
    <%= form_for(@user,:url => user_path ,:html => { :method => :put, :role => 'form'}) do |f| %>
    <%#= f.hidden_field :edit_profile , :value => true %>
    <div class="form-inner">
      <div class="form-head">
        <h4 class="form-title"><%=@user.name %></h4><!-- /.form-title -->
      </div><!-- /.form-head -->

      <div class="form-body">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-username" class="form-label">
                  Email <em>(cannot be changed)</em>
                </label>

                <div class="form-controls">
                  <%= f.text_field :email, :no_label => true , :class =>"form-control" ,:placeholder => "", disabled: true , :type=>"email" %>
                </div><!-- /.form-controls -->
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-additional-email" class="form-label">Additional Email</label>
                <%#= f.fields_for :profile do |builder| %>
                <div class="form-controls">
                  <%= f.text_field :email2, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"email" %>
                </div><!-- /.form-controls -->
                <%# end %>
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-first-name" class="form-label">First Name</label>

                <div class="form-controls">
                  <%= f.text_field :firstname, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
                </div><!-- /.form-controls -->
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-last-name" class="form-label">Last Name</label>

                <div class="form-controls">
                  <%= f.text_field :lastname, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
                </div><!-- /.form-controls -->
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->
          </div><!-- /.row -->

          <%= f.fields_for :profile do |builder| %>
          <div class="form-row">
            <label for="field-location" class="form-label">
              Location <em>(City, State, Country)</em>
            </label>

            <div class="form-controls">
              <%= builder.text_field :location, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
            </div><!-- /.form-controls -->
          </div><!-- /.form-row -->
        </div><!-- /.form-group -->
        
        <%= builder.hidden_field(:is_company) %>
        <%= builder.hidden_field(:is_freelancer) %>
        <hr>
        <div data-toggle="buttons-radio" class="header-actions edit-profile">
          <center>
            <button id="is_company" class="radio-btn btn btn-default <%='active' if builder.object.is_company? %>">Company</button>
            <button id="is_freelancer" class="radio-btn btn btn-default <%='active' if builder.object.is_freelancer? %>">Freelancer</button>
          </center>
        </div>

        <div class="form-group">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-public-email" class="form-label">Contact</label>

                <div class="form-controls">
                  <%= builder.text_field :public_email, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"email"%>
                </div><!-- /.form-controls -->
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-job-title" class="form-label">Title</label>

                <div class="form-controls">
                  <%= builder.text_field :job_title, :no_label => true , :class =>"form-control" ,:placeholder => "Ex. Creative Director" %>
                </div><!-- /.form-controls -->
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-website" class="form-label">Website</label>

                <div class="form-controls">
                  <%= builder.text_field :online_portfolio, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
                </div><!-- /.form-controls -->
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-company-name" class="form-label">Company Name</label>

                <div class="form-controls">
                  <%= builder.text_field :company_name, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
                </div><!-- /.form-controls -->
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-behance" class="form-label">Behance</label>

                <div class="form-controls">
                  <%= builder.text_field :behance, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
                </div><!-- /.form-controls -->
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">
              <div class="form-row">
                <label for="field-vimeo" class="form-label">Vimeo</label>

                <div class="form-controls">
                  <%= builder.text_field :vimeo, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
                </div><!-- /.form-controls -->
              </div><!-- /.form-row -->
            </div><!-- /.col-sm-6 -->
          </div><!-- /.row -->

          <div class="form-row">
            <label for="field-linkedin" class="form-label">LinkedIn</label>

            <div class="form-controls">
              <%= builder.text_field :linkedin_profile, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
            </div><!-- /.form-controls -->
          </div><!-- /.form-row -->

          <div class="form-row">
            <label for="field-social-links" class="form-label">Other Social Links</label>

            <div class="form-controls">
              <%= builder.text_field :social_links, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
            </div><!-- /.form-controls -->
          </div><!-- /.form-row -->

          <div class="form-row">
            <label for="field-skills" class="form-label">Skills</label>

            <div class="form-controls">
              <%= builder.select :skills, skills_options_for_select(builder.object.skills) , {} , {:multiple => true ,:no_label => true, :class => "select-autocomplete" ,:placeholder => "Skills"} %>
            </div><!-- /.form-controls -->
          </div><!-- /.form-row -->


          <% end %>
          
        </div><!-- /.form-group -->
      </div><!-- /.form-body -->

      <div class="form-actions">
        <input type="submit" value="Update" class="btn form-btn">
      </div><!-- /.form-actions -->

      <div class="form-error">
        <p></p>
      </div><!-- /.form-error -->
    </div><!-- /.form-inner -->

    <!-- </form> -->
    <% end %>
  </div><!-- /.form-signup -->
</div>
