
            <section class="section-team-page section-team-page-alt">
                <div class="section-actions">
                    <ul>
                        <li>
                            <a href="#mass-message" class="link-mass-message" data-toggle="collapse">
                                <i class="ico-message"></i>

                                <span>message</span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.section-actions -->

                <div class="section-head">
                    <div class="section-head-inner">
                        <div class="team-page">
                            <div class="team team-sortable">
                                <span class="team-inner">
                                    <div class="team-image">
                                        <%=image_tag @user.profile_image, { alt: "" ,class: "team-image-selected"} %>
                                    </div><!-- /.team-image -->
                                </span>
                            </div><!-- /.team -->

                            <div class="team-page-content">
                                <h4 class="team-page-name"><%=@user.name%><small><%=@user.profile.job_title%></small></h4><!-- /.team-page-name -->

                                <div class="team-page-location"><%=@user.profile.location%></div><!-- /.team-page-location -->
                            </div><!-- /.team-page-content -->

                            <ul class="user-socials">
                                <%-if @user.profile.online_portfolio.present?%>
                                    <li>
                                        <a href="<%=@user.profile.online_portfolio%>">
                                            <i class="ico-link"></i>
                                        </a>
                                    </li>
                                <%end%>

                                <%-if @user.profile.linkedin_profile.present?%>
                                    <li>
                                        <a href="<%=@user.profile.linkedin_profile%>">
                                            <i class="ico-linkedin"></i>
                                        </a>
                                    </li>
                                <%end%>

                                <%-if @user.profile.behance.present?%>
                                    <li>
                                        <a href="<%=@user.profile.behance%>">
                                            <i class="ico-behance"></i>
                                        </a>
                                    </li>
                                <%end%>

                                <%-if @user.profile.vimeo.present?%>
                                    <li>
                                        <a href="<%=@user.profile.vimeo%>">
                                            <i class="ico-vimeo"></i>
                                        </a>
                                    </li>
                                <%end%>
                            </ul>
                        </div><!-- /.team-page -->
                    </div><!-- /.section-head-inner -->

                    <div class="section-head-form-outer collapse" id="mass-message">
                        <div class="section-head-form">
                            <a href="#mass-message" class="section-head-close" data-toggle="collapse">
                                <i class="ico-close"></i>
                            </a>

                            <script type="text/template" id="message-template">
                                <div class="message message-hidden">
                                    <div class="message-avatar">
                                        <img src="{{avatar}}" alt="" width="69" height="69">
                                    </div><!-- /.message-avatar -->

                                    <div class="message-head clearfix">
                                        <div class="message-actions">
                                            <ul>
                                                <li>
                                                    <a href="#modal-delete" data-toggle="modal">
                                                        <i class="ico-delete"></i>

                                                        <span>Delete message</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div><!-- /.message-actions -->

                                        <div class="message-head-inner">
                                            <div class="message-author">{{author}}</div><!-- /.message-author -->

                                            <div class="message-date">November 26, 2015 &bull; 11:23pm</div><!-- /.message-date -->
                                        </div><!-- /.message-head-inner -->
                                    </div><!-- /.message-head -->

                                    <div class="message-entry">{{content}}</div><!-- /.message-entry -->
                                </div><!-- /.message -->
                            </script>

                            <div class="form-message form-message-alt">
                                <div class="messages">
                                    <div class="messages-wrapper" id="messages-mass"></div><!-- /.messages-wrapper -->
                                </div><!-- /.messages -->

                                <form action="#messages-mass" method="post">
                                    <div class="form-body">
                                        <div class="form-avatar">
                                            <img src="/assets/temp/form-avatar.jpg" alt="" width="69" height="69">

                                            <input type="hidden" class="field-message-avatar" name="message-avatar" value="/assets/temp/form-avatar.jpg">
                                        </div><!-- /.form-avatar -->

                                        <div class="form-row">
                                            <label class="form-label">Rotem Nahlieli</label>

                                            <input type="hidden" class="field-message-author" name="message-author" value="Rotem Nahlieli">

                                            <div class="form-controls">
                                                <textarea class="form-control field-message-content" name="message-content" placeholder="Your message to Sam, Tony, Jon Jon, Dana"></textarea>
                                            </div><!-- /.form-controls -->
                                        </div><!-- /.form-row -->
                                    </div><!-- /.form-body -->

                                    <div class="form-actions">
                                        <button type="submit" class="btn">Send Message</button>
                                    </div><!-- /.form-actions -->
                                </form>
                            </div><!-- /.form-message -->
                        </div><!-- /.section-head-form --></div><!-- /.section-head-form-outer -->
                </div><!-- /.section-head -->
            </section><!-- /.section-team-page -->

            <section class="section-profile">
                <div class="section-inner">
                    <div class="section-content">
                        <div class="section-content-inner">
                            <article class="article">
                                <h5>About me</h5>

                                <p>Aaron Stewart is a designer and director of animation. Raised in Wellington and Wichita, Kansas, Aaron came to New York in 1994 to attend Parsons School of Design where he graduated with honors in Illustration. </p>

                                <p>Captivating many around the world, his style has been described as iconically linear imbued with pitch perfect comedy. After signing with Hornet Inc in 2003, Stewart worked with a large number of respected clients including: MTV, VH1, Wendy's, Discover Card, Jack LInk's, Chipotle, and Pogo CorndogIn both 2007 and 2008 Pictoplasma asked Stewart to speak at their event in Berlin and New York to share his love and knowledge on what it means to live and work in an animator's world. To credit his artistry and design, Pictoplasma's publishing division has also published much of Stewart's work in their books along the years.</p>

                                <p>His awards range from a Gold London International Award, Gold and Silver Pencil, Gold BDA, Y&amp;R Young Guns and Altpick Silver award.</p>

                                <p>He currently resides in NY with his wife, son and assistant dachshund Scooter.</p>
                            </article><!-- /.article -->
                        </div><!-- /.section-content-inner -->

                        <div class="section-content-inner">
                            <h5 class="section-content-title">expertise</h5>

                            <p>Illusration, 2d Animation, Art direction, character design</p>
                        </div><!-- /.section-content-inner -->

                        <div class="section-content-inner">
                            <h5 class="section-content-title">My Teams</h5>

                            <ul class="list-teams">
                                <%- @teams.each do |team|%>
                                    <li>
                                        <span><%=team.name%></span>

                                        <div class="image">
                                            <%=image_tag team.image, { alt: "" ,width: '53', height: '53'} %>
                                        </div><!-- /.image -->
                                    </li>
                                <%end%>
                            </ul><!-- /.list-teams -->
                        </div><!-- /.section-content-inner -->
                    </div><!-- /.section-content -->

                    <div class="section-media">
                        <%- if @behance_projects.present?%>
                            <div class="section-media-inner">
                                <h5>behance</h5>
                                    <ul class="list-media">
                                        <%- @behance_projects.each do |item|%>
                                            <li>
                                                <a href="<%=item['project']['url']%>" >
                                                    <img src="<%=item['project']['covers'].first[1]%>" width="181" height="135" alt="<%=item['project']['name']%>">
                                                </a>
                                            </li>
                                        <%end%>
                                    </ul><!-- /.list-media -->
                            </div><!-- /.section-media-inner -->
                        <%end%>

                        <div class="section-media-inner">
                            <h5>Dribble</h5>

                            <ul class="list-media">
                                <li>
                                    <a href="#">
                                        <img src="/assets/temp/media.jpg" alt="" width="181" height="135">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/assets/temp/media.jpg" alt="" width="181" height="135">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="/assets/temp/media.jpg" alt="" width="181" height="135">
                                    </a>
                                </li>
                            </ul><!-- /.list-media -->
                        </div><!-- /.section-media-inner -->

                        <div class="section-media-inner">
                            <h5>Vimeo</h5>

                            <div class="video">
                                <iframe src="https://player.vimeo.com/video/87110435" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div><!-- /.video -->
                        </div><!-- /.section-media-inner -->
                    </div><!-- /.section-media -->
                </div><!-- /.section-inner -->
            </section><!-- /.section-about -->
        </div><!-- /.shell -->
    </div><!-- /.main -->

    <div class="modal modal-small fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="ico-close"></i>
                </button>

                <div class="modal-body">
                    <div class="form form-action">
                        <form action="?" method="post">
                            <div class="form-inner">
                                <div class="form-head">
                                    <h4 class="form-title">Remove users</h4><!-- /.form-title -->
                                </div><!-- /.form-head -->

                                <div class="form-body">
                                    <div class="form-entry">
                                        <p>Are you sure you want to remove these users from the Team?</p>
                                    </div><!-- /.form-entry -->
                                </div><!-- /.form-body -->

                                <div class="form-actions">
                                    <button class="btn btn-blue form-btn" data-dismiss="modal">Cancel</button>

                                    <button type="submit" class="btn form-btn">Yes</button>
                                </div><!-- /.form-actions -->
                            </div><!-- /.form-inner -->
                        </form>
                    </div><!-- /.form-action -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal modal-small fade" id="modal-report">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="ico-close"></i>
                </button>

                <div class="modal-body">
                    <div class="form form-action">
                        <form action="?" method="post">
                            <div class="form-inner">
                                <div class="form-head">
                                    <h4 class="form-title">Report Spam</h4><!-- /.form-title -->
                                </div><!-- /.form-head -->

                                <div class="form-body">
                                    <div class="form-entry">
                                        <p>Are you sure you want to report this message as spam?</p>
                                    </div><!-- /.form-entry -->
                                </div><!-- /.form-body -->

                                <div class="form-actions">
                                    <button class="btn btn-blue form-btn" data-dismiss="modal">Cancel</button>

                                    <button type="submit" class="btn form-btn">Yes</button>
                                </div><!-- /.form-actions -->
                            </div><!-- /.form-inner -->
                        </form>
                    </div><!-- /.form-action -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal modal-small fade" id="modal-ignore">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="ico-close"></i>
                </button>

                <div class="modal-body">
                    <div class="form form-action">
                        <form action="?" method="post">
                            <div class="form-inner">
                                <div class="form-head">
                                    <h4 class="form-title">Ignore User</h4><!-- /.form-title -->
                                </div><!-- /.form-head -->

                                <div class="form-body">
                                    <div class="form-entry">
                                        <p>
                                            Are you sure you want to ignore this user?<br>
                                            You won't receive any more messages from this user.
                                        </p>
                                    </div><!-- /.form-entry -->
                                </div><!-- /.form-body -->

                                <div class="form-actions">
                                    <button class="btn btn-blue form-btn" data-dismiss="modal">Cancel</button>

                                    <button type="submit" class="btn form-btn">Yes</button>
                                </div><!-- /.form-actions -->
                            </div><!-- /.form-inner -->
                        </form>
                    </div><!-- /.form-action -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal modal-medium fade" id="modal-avatar">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="ico-close"></i>
                </button>

                <div class="modal-body">
                    <div class="form form-avatar">
                        <form action="?" method="post">
                            <div class="form-inner">
                                <div class="form-head">
                                    <div class="team team-sortable">
                                        <div class="team-inner">
                                            <div class="team-image">
                                                <img src="/assets/temp/team1.jpg" class="team-image-selected" alt="">
                                            </div><!-- /.team-image -->
                                        </div>
                                    </div><!-- /.team -->
                                </div><!-- /.form-head -->

                                <div class="form-body">
                                    <ul class="list-avatars">
                                        <li>
                                            <div class="team">
                                                <a href=".team-image-selected" class="team-inner change-image">
                                                    <div class="team-image">
                                                        <img src="/assets/temp/team-image1.jpg" alt="">
                                                    </div><!-- /.team-image -->
                                                </a>
                                            </div><!-- /.team -->
                                        </li>

                                        <li>
                                            <div class="team">
                                                <a href=".team-image-selected" class="team-inner change-image">
                                                    <div class="team-image">
                                                        <img src="/assets/temp/team-image2.jpg" alt="">
                                                    </div><!-- /.team-image -->
                                                </a>
                                            </div><!-- /.team -->
                                        </li>

                                        <li>
                                            <div class="team">
                                                <a href=".team-image-selected" class="team-inner change-image">
                                                    <div class="team-image">
                                                        <img src="/assets/temp/team-image3.jpg" alt="">
                                                    </div><!-- /.team-image -->
                                                </a>
                                            </div><!-- /.team -->
                                        </li>

                                        <li>
                                            <div class="team">
                                                <a href=".team-image-selected" class="team-inner change-image">
                                                    <div class="team-image">
                                                        <img src="/assets/temp/team-image4.jpg" alt="">
                                                    </div><!-- /.team-image -->
                                                </a>
                                            </div><!-- /.team -->
                                        </li>

                                        <li>
                                            <div class="team team-alt">
                                                <div class="team-inner">
                                                    <div class="team-image">
                                                        <img src="/assets/temp/team-default.jpg" alt="">

                                                        <div class="team-actions">
                                                            <span class="team-add">
                                                                <i class="ico-plus"></i>
                                                            </span>
                                                        </div><!-- /.team-actions -->

                                                        <input type="file" name="upload-team" id="upload-team">

                                                        <label for="upload-team">Upload</label>
                                                    </div><!-- /.team-image -->
                                                </div>
                                            </div><!-- /.team -->
                                        </li>
                                    </ul><!-- /.list-avatars -->

                                    <div class="form-hint">choose new image</div><!-- /.form-hint -->
                                </div><!-- /.form-body -->
                            </div><!-- /.form-inner -->
                        </form>
                    </div><!-- /.form-action -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal modal-profile fade" id="modal-edit-profile">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="ico-close"></i>
                </button>

                <div class="modal-body">
                    <div class="form form-signup">
                        <form action="?" method="post">
                            <div class="form-inner">
                                <div class="form-head">
                                    <div class="dropdown dropdown-avatar">
                                        <a href="#" data-toggle="dropdown">
                                            <div class="team team-sortable">
                                                <div class="team-inner">
                                                    <div class="team-image">
                                                        <img src="/assets/temp/team-default.jpg" id="main-image" alt="">
                                                    </div><!-- /.team-image -->
                                                </div>
                                            </div><!-- /.team -->
                                        </a>

                                        <div class="dropdown-menu">
                                            <ul class="list-avatars">
                                                <li>
                                                    <div class="team">
                                                        <a href="#main-image" class="team-inner change-image">
                                                            <div class="team-image">
                                                                <img src="/assets/temp/team-image1.jpg" alt="">
                                                            </div><!-- /.team-image -->
                                                        </a>
                                                    </div><!-- /.team -->
                                                </li>

                                                <li>
                                                    <div class="team">
                                                        <a href="#main-image" class="team-inner change-image">
                                                            <div class="team-image">
                                                                <img src="/assets/temp/team-image2.jpg" alt="">
                                                            </div><!-- /.team-image -->
                                                        </a>
                                                    </div><!-- /.team -->
                                                </li>

                                                <li>
                                                    <div class="team">
                                                        <a href="#main-image" class="team-inner change-image">
                                                            <div class="team-image">
                                                                <img src="/assets/temp/team-image3.jpg" alt="">
                                                            </div><!-- /.team-image -->
                                                        </a>
                                                    </div><!-- /.team -->
                                                </li>

                                                <li>
                                                    <div class="team">
                                                        <a href="#main-image" class="team-inner change-image">
                                                            <div class="team-image">
                                                                <img src="/assets/temp/team-image4.jpg" alt="">
                                                            </div><!-- /.team-image -->
                                                        </a>
                                                    </div><!-- /.team -->
                                                </li>

                                                <li>
                                                    <div class="team team-alt">
                                                        <div class="team-inner">
                                                            <div class="team-image">
                                                                <img src="/assets/temp/team-default.jpg" alt="">

                                                                <div class="team-actions">
                                                                    <span class="team-add">
                                                                        <i class="ico-plus"></i>
                                                                    </span>
                                                                </div><!-- /.team-actions -->

                                                                <input type="file" name="upload-team" id="upload-team">

                                                                <label for="upload-team">Upload</label>
                                                            </div><!-- /.team-image -->
                                                        </div>
                                                    </div><!-- /.team -->
                                                </li>
                                            </ul><!-- /.list-avatars -->
                                        </div><!-- /.dropdown-menu -->
                                    </div><!-- /.dropdown -->

                                    <h4 class="form-title">My Profile</h4><!-- /.form-title -->
                                </div><!-- /.form-head -->

                                <div class="form-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                    <label for="field-freelancer-username" class="form-label">
                                                        Username <em>(cannot be changed)</em>
                                                    </label>

                                                    <div class="form-controls">
                                                        <input type="text" class="form-control" name="field-freelancer-username" id="field-freelancer-username" value="wagtail@gmail.com" placeholder="">
                                                    </div><!-- /.form-controls -->
                                                </div><!-- /.form-row -->
                                            </div><!-- /.col-sm-6 -->

                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                    <label for="field-freelancer-additional-email" class="form-label">Additional Email</label>

                                                    <div class="form-controls">
                                                        <input type="text" class="form-control" name="field-freelancer-additional-email" id="field-freelancer-additional-email" value="" placeholder="">
                                                    </div><!-- /.form-controls -->
                                                </div><!-- /.form-row -->
                                            </div><!-- /.col-sm-6 -->
                                        </div><!-- /.row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                    <label for="field-freelancer-first-name" class="form-label">First Name</label>

                                                    <div class="form-controls">
                                                        <input type="text" class="form-control" name="field-freelancer-first-name" id="field-freelancer-first-name" value="" placeholder="">
                                                    </div><!-- /.form-controls -->
                                                </div><!-- /.form-row -->
                                            </div><!-- /.col-sm-6 -->

                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                    <label for="field-freelancer-last-name" class="form-label">Last Name</label>

                                                    <div class="form-controls">
                                                        <input type="text" class="form-control" name="field-freelancer-last-name" id="field-freelancer-last-name" value="" placeholder="">
                                                    </div><!-- /.form-controls -->
                                                </div><!-- /.form-row -->
                                            </div><!-- /.col-sm-6 -->
                                        </div><!-- /.row -->

                                        <div class="form-type">
                                            <ul>
                                                <li>
                                                    <div class="radio-type">
                                                        <input type="radio" name="profile-type" id="field-freelancer" checked>

                                                        <label for="field-freelancer">freelancer</label>
                                                    </div><!-- /.radio -->
                                                </li>

                                                <li>
                                                    <div class="radio-type">
                                                        <input type="radio" name="profile-type" id="field-company">

                                                        <label for="field-company">company</label>
                                                    </div><!-- /.radio -->
                                                </li>
                                            </ul><!-- /.list-radios -->
                                        </div><!-- /.form-type -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                    <label for="field-title" class="form-label">Title</label>

                                                    <div class="form-controls">
                                                        <input type="text" class="form-control" name="field-title" id="field-title" value="" placeholder="">
                                                    </div><!-- /.form-controls -->
                                                </div><!-- /.form-row -->
                                            </div><!-- /.col-sm-6 -->

                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                    <label for="field-company-name" class="form-label">Company Name</label>

                                                    <div class="form-controls">
                                                        <input type="text" class="form-control" name="field-company-name" id="field-company-name" value="" placeholder="">
                                                    </div><!-- /.form-controls -->
                                                </div><!-- /.form-row -->
                                            </div><!-- /.col-sm-6 -->
                                        </div><!-- /.row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                    <label for="field-freelancer-location" class="form-label">
                                                        Location <em>(City, State, Country)</em>
                                                    </label>

                                                    <div class="form-controls">
                                                        <input type="text" class="form-control" name="field-freelancer-location" id="field-freelancer-location" value="" placeholder="">
                                                    </div><!-- /.form-controls -->
                                                </div><!-- /.form-row -->
                                            </div><!-- /.col-sm-6 -->

                                            <div class="col-sm-6">
                                                <div class="form-row">
                                                    <label for="field-website" class="form-label">Website</label>

                                                    <div class="form-controls">
                                                        <input type="text" class="form-control" name="field-website" id="field-website" value="" placeholder="">
                                                    </div><!-- /.form-controls -->
                                                </div><!-- /.form-row -->
                                            </div><!-- /.col-sm-6 -->
                                        </div><!-- /.row -->

                                        <div class="form-socials">
                                            <ul class="list-socials">
                                                <li>
                                                    <i class="ico-linkedin"></i>

                                                    <span>Linkedin</span>

                                                    <div class="checkbox-link">
                                                        <input type="checkbox" name="field-link1" id="field-link1">

                                                        <label for="field-link1">
                                                            <span class="checkbox-label">Link</span>

                                                            <span class="checkbox-label-checked">Unlink</span>
                                                        </label>
                                                    </div><!-- /.checkbox-link -->
                                                </li>

                                                <li>
                                                    <i class="ico-vimeo"></i>

                                                    <span>Vimeo</span>

                                                    <div class="checkbox-link">
                                                        <input type="checkbox" name="field-link2" id="field-link2" checked>

                                                        <label for="field-link2">
                                                            <span class="checkbox-label">Link</span>

                                                            <span class="checkbox-label-checked">Unlink</span>
                                                        </label>
                                                    </div><!-- /.checkbox-link -->
                                                </li>

                                                <li>
                                                    <i class="ico-behance"></i>

                                                    <span>Behance</span>

                                                    <div class="checkbox-link">
                                                        <input type="checkbox" name="field-link3" id="field-link3">

                                                        <label for="field-link3">
                                                            <span class="checkbox-label">Link</span>

                                                            <span class="checkbox-label-checked">Unlink</span>
                                                        </label>
                                                    </div><!-- /.checkbox-link -->
                                                </li>
                                            </ul><!-- /.list-socials -->

                                            <ul class="list-socials collapse" id="additional-socials">
                                                <li>
                                                    <i class="ico-linkedin"></i>

                                                    <span>Linkedin</span>

                                                    <div class="checkbox-link">
                                                        <input type="checkbox" name="field-link4" id="field-link4">

                                                        <label for="field-link4">
                                                            <span class="checkbox-label">Link</span>

                                                            <span class="checkbox-label-checked">Unlink</span>
                                                        </label>
                                                    </div><!-- /.checkbox-link -->
                                                </li>

                                                <li>
                                                    <i class="ico-vimeo"></i>

                                                    <span>Vimeo</span>

                                                    <div class="checkbox-link">
                                                        <input type="checkbox" name="field-link5" id="field-link5">

                                                        <label for="field-link5">
                                                            <span class="checkbox-label">Link</span>

                                                            <span class="checkbox-label-checked">Unlink</span>
                                                        </label>
                                                    </div><!-- /.checkbox-link -->
                                                </li>

                                                <li>
                                                    <i class="ico-behance"></i>

                                                    <span>Behance</span>

                                                    <div class="checkbox-link">
                                                        <input type="checkbox" name="field-link6" id="field-link6">

                                                        <label for="field-link6">
                                                            <span class="checkbox-label">Link</span>

                                                            <span class="checkbox-label-checked">Unlink</span>
                                                        </label>
                                                    </div><!-- /.checkbox-link -->
                                                </li>
                                            </ul><!-- /.list-socials -->

                                            <div class="form-socials-expand">
                                                <a href="#additional-socials" data-toggle="collapse">
                                                    <i class="ico-arrow-down-medium"></i>

                                                    <span>Additional Networks</span>
                                                </a>
                                            </div><!-- /.form-socials-expand -->
                                        </div><!-- /.form-socials -->

                                        <div class="form-row">
                                            <label for="field-skills" class="form-label">Skills</label>

                                            <div class="form-controls">
                                                <select name="field-suggest-skills" id="field-suggest-skills" class="select-autocomplete" multiple data-placeholder="">
                                                    <option value="director">Director</option>

                                                    <option value="motion-graphics">Motion Graphics</option>

                                                    <option value="animation">Animation</option>

                                                    <option value="art-direction">Art Direction</option>

                                                    <option value="design">Design</option>

                                                    <option value="illustrator">Illustrator</option>

                                                    <option value="after-effects">After Effects</option>
                                                </select>
                                            </div><!-- /.form-controls -->
                                        </div><!-- /.form-row -->
                                    </div><!-- /.form-group -->
                                </div><!-- /.form-body -->

                                <div class="form-actions">
                                    <input type="submit" value="Update" class="btn form-btn">
                                </div><!-- /.form-actions -->

                                <div class="form-error">
                                    <p>This is where error messages go.</p>
                                </div><!-- /.form-error -->

                                <div class="form-foot-entry">
                                    <p>Please add as many details as possible. Our team reviews all profiles before approving them to appear on our search for recommended creatives. If you are already up there, make sure your details are up to date.</p>
                                </div><!-- /.form-foot-entry -->
                            </div><!-- /.form-inner -->

                            <div class="form-foot">
                                <p>Need help? <a href="#">drop us a line</a>.</p>
                            </div><!-- /.form-foot -->
                        </form>
                    </div><!-- /.form-signup -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal modal-search fade" id="modal-search">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="ico-close"></i>
                </button>

                <div class="modal-body">
                    <section class="section-search section-search-alt">
                        <div class="section-body">
                            <div class="search">
                                <div class="search-body">
                                    <form action="search-results.html" method="get">
                                        <label for="q" class="hidden">Search</label>

                                        <input type="text" class="form-control search-field">

                                        <button type="submit" class="search-btn">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>

                                    <div class="dropdown">
                                        <a href="#" class="dropdown-btn" data-toggle="dropdown">
                                            <span class="btn-icon">
                                                <i class="ico-arrow-right-small"></i>

                                                <span class="btn-icon-alt">
                                                    <i id="search-icon-popup"></i>
                                                </span>
                                            </span>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#search-icon-popup" data-change-class="">All</a>
                                            </li>

                                            <li>
                                                <a href="#search-icon-popup" data-change-class="ico-location">Location</a>
                                            </li>

                                            <li>
                                                <a href="#search-icon-popup" data-change-class="ico-people">People</a>
                                            </li>

                                            <li>
                                                <a href="#search-icon-popup" data-change-class="ico-skills">Skill</a>
                                            </li>
                                        </ul><!-- /.dropdown-menu -->
                                    </div><!-- /.dropdown -->
                                </div><!-- /.search-body -->

                                <div class="search-foot">
                                    <span>Popular Searches:</span>

                                    <ul>
                                        <li>
                                            <a href="search-results.html">Motion Graphics</a>
                                        </li>

                                        <li>
                                            <a href="search-results.html">2D Animation</a>
                                        </li>

                                        <li>
                                            <a href="search-results.html">Art Direction</a>
                                        </li>

                                        <li>
                                            <a href="search-results.html">VFX</a>
                                        </li>

                                        <li>
                                            <a href="search-results.html">Illustration</a>
                                        </li>
                                    </ul>
                                </div><!-- /.search-foot -->
                            </div><!-- /.search -->
                        </div><!-- /.section-body -->
                    </section><!-- /.section-search -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
