
            <section class="section-team-page section-team-page-alt">
                <div class="section-actions">
                    <ul>
                        <%-if @is_owner%>
                            <li>
                                <%- if current_user.admin?%>
                                    <a id='settings-modal-admin' href="#" data-toggle="modal">
                                <%else%>
                                    <a id='settings-modal' href="#" data-toggle="modal">
                                <%end%>
                                    <i class="ico-settings"></i>
                                    <span>settings</span>
                                </a>
                            </li>
                        <%else%>
                            <li>
                                <a href="#mass-message" class="link-mass-message" data-toggle="collapse">
                                    <i class="ico-message"></i>

                                    <span>message</span>
                                </a>
                            </li>
                        <%end%>
                    </ul>
                </div><!-- /.section-actions -->

                <div class="section-head">
                    <div class="section-head-inner">
                        <div class="team-page">
                            <div class="team team-sortable">
                                <span class="team-inner">
                                    <%-if @is_owner%>
                                        <a href="#modal-avatar" class="team-inner" data-toggle="modal">
                                            <div class="team-image">
                                                <%=image_tag @user.profile_image, { alt: "" ,class: "user-main-image"} %>
                                                <div class="team-image-change">
                                                    <span>
                                                        Change<br>
                                                        Image
                                                    </span>
                                                </div><!-- /.team-image-change -->
                                            </div><!-- /.team-image -->
                                        </a>
                                    <%else%>
                                        <div class="team-image">
                                            <%=image_tag @user.profile_image, { alt: "" ,class: "team-image-selected"} %>
                                        </div><!-- /.team-image -->
                                    <%end%>
                                </span>
                            </div><!-- /.team -->

                            <div class="team-page-content" data-user-id="<%=@user.id%>">
                                <h4 class="team-page-name user-name" data-user-id="<%=@user.id%>"><%=@user.name%>
                                    <small class='user-description'<%='contenteditable' if @is_owner%>>
                                        <%-if @is_owner && @user.profile.description.blank?%>
                                            Here is where you can write your description. 
                                        <%else%>
                                            <%=@user.profile.description%>
                                        <%end%>
                                    </small>
                                </h4><!-- /.team-page-name -->

                                <div class="team-page-location user-location" <%='contenteditable' if @is_owner%>>
                                    <%-if @is_owner && @user.profile.location.blank?%>
                                        Add your location here
                                    <%else%>
                                        <%=@user.profile.location%>
                                    <%end%>
                                </div><!-- /.team-page-location -->
                            </div><!-- /.team-page-content -->

                            <ul class="user-socials">
                                <%-if @user.profile.online_portfolio.present?%>
                                    <li>
                                        <a href="<%=@user.profile.online_portfolio%>">
                                            <i class="ico-link"></i>
                                        </a>
                                    </li>
                                <%end%>

                                <%-if @user.profile.linkedin_profile.present?%>
                                    <li>
                                        <a href="<%=@user.profile.linkedin_profile%>">
                                            <i class="ico-linkedin"></i>
                                        </a>
                                    </li>
                                <%end%>

                                <%-if @user.profile.behance.present?%>
                                    <li>
                                        <a href="<%=@user.profile.behance%>">
                                            <i class="ico-behance"></i>
                                        </a>
                                    </li>
                                <%end%>

                                <%-if @user.profile.dribbble.present?%>
                                    <li>
                                        <a href="<%=@user.profile.dribbble%>">
                                            <i class="ico-dribbble"></i>
                                        </a>
                                    </li>
                                <%end%>

                                <%-if @user.profile.vimeo.present?%>
                                    <li>
                                        <a href="<%=@user.profile.vimeo%>">
                                            <i class="ico-vimeo"></i>
                                        </a>
                                    </li>
                                <%end%>
                            </ul>
                        </div><!-- /.team-page -->
                    </div><!-- /.section-head-inner -->

                    <div class="section-head-form-outer collapse" id="mass-message">
                        <div class="section-head-form">
                            <a href="#mass-message" class="section-head-close" data-toggle="collapse">
                                <i class="ico-close"></i>
                            </a>

                            <script type="text/template" id="message-template">
                                <div class="message message-hidden">
                                    <div class="message-avatar">
                                        <img src="{{avatar}}" alt="" width="69" height="69">
                                    </div><!-- /.message-avatar -->

                                    <div class="message-head clearfix">
                                        <div class="message-actions">
                                            <ul>
                                                <li>
                                                    <a href="#modal-delete" data-toggle="modal">
                                                        <i class="ico-delete"></i>

                                                        <span>Delete message</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div><!-- /.message-actions -->

                                        <div class="message-head-inner">
                                            <div class="message-author">{{author}}</div><!-- /.message-author -->

                                            <div class="message-date">November 26, 2015 &bull; 11:23pm</div><!-- /.message-date -->
                                        </div><!-- /.message-head-inner -->
                                    </div><!-- /.message-head -->

                                    <div class="message-entry">{{content}}</div><!-- /.message-entry -->
                                </div><!-- /.message -->
                            </script>

                            <div class="form-message form-message-alt">
                                <div class="messages">
                                    <div class="messages-wrapper" id="messages-mass"></div><!-- /.messages-wrapper -->
                                </div><!-- /.messages -->

                                <form action="#messages-mass" method="post">
                                    <div class="form-body">
                                        <div class="form-avatar">
                                            <img src="/assets/temp/form-avatar.jpg" alt="" width="69" height="69">

                                            <input type="hidden" class="field-message-avatar" name="message-avatar" value="/assets/temp/form-avatar.jpg">
                                        </div><!-- /.form-avatar -->

                                        <div class="form-row">
                                            <label class="form-label">Rotem Nahlieli</label>

                                            <input type="hidden" class="field-message-author" name="message-author" value="Rotem Nahlieli">

                                            <div class="form-controls">
                                                <textarea class="form-control field-message-content" name="message-content" placeholder="Your message to Sam, Tony, Jon Jon, Dana"></textarea>
                                            </div><!-- /.form-controls -->
                                        </div><!-- /.form-row -->
                                    </div><!-- /.form-body -->

                                    <div class="form-actions">
                                        <button type="submit" class="btn">Send Message</button>
                                    </div><!-- /.form-actions -->
                                </form>
                            </div><!-- /.form-message -->
                        </div><!-- /.section-head-form --></div><!-- /.section-head-form-outer -->
                </div><!-- /.section-head -->
            </section><!-- /.section-team-page -->

            <section class="section-profile">
                <div class="section-inner">
                    <div class="section-content">

                        <div class="section-content-inner" >
                            <article class="article" data-user-id="<%=@user.id%>">
                                <h5>About me</h5>
                                <div class="user-about-me"<%='contenteditable' if @is_owner%>>
                                    <%-if @is_owner && @user.profile.about_me.blank?%>
                                        <p>Here is where you can write your description. You can describe the teams you would like to join, and brag about your mad skills and achievements.</p>
                                    <%else%>
                                        <p><%=@user.profile.about_me%></p>
                                    <%end%>
                                </div>
                            </article><!-- /.article -->
                        </div><!-- /.section-content-inner -->

                        <div class="section-content-inner profile-skills">
                            <%- if @is_owner%>
                                <h5 class="section-content-title">expertise</h5>
                                <%= form_for(current_user, :as => :user, :url => registration_path(:user), :html => { :method => :put, remote: true, :authenticity_token => true, :role => 'form',"data-error-id" => "edit_user_form_err", "data-parent"=>"modal-edit-profile"}) do |f| %>
                                    <%=f.hidden_field :user_id, value: @user.id%>
                                    <%= f.fields_for :profile do |builder| %>
                                        <%= builder.select :skills, skills_options_for_select(builder.object.skills) , {} , {:multiple => true ,:no_label => true, :class => "select-autocomplete" ,:placeholder => "Pick your skills"} %>
                                    <%end%>
                                    <div class="form-actions text-center">
                                        <i class="fa fa-spinner fa-1x fa-pulse hidden"></i>
                                        <br>
                                        <input type="submit" value="Update" class="btn form-btn">
                                    </div><!-- /.form-actions -->
                                <%end%>
                            <%else%>
                                <%-if @user.profile.skills.present?%>
                                    <h5 class="section-content-title">expertise</h5>
                                    <%=@user.profile.skills.join(' ')%>
                                <%end%>
                            <%end%>
                        </div><!-- /.section-content-inner -->

                        <div class="section-content-inner">
                            <h5 class="section-content-title">My Teams</h5>

                            <ul class="list-teams">
                                <%- @teams.each do |team|%>
                                    <li>
                                        <span><%=team.name%></span>

                                        <a href='<%=team_path(team)%>'>
                                            <div class="image">
                                                <%=image_tag team.image, { alt: "" ,width: '53', height: '53'} %>
                                            </div><!-- /.image -->
                                        </a>
                                    </li>
                                <%end%>
                            </ul><!-- /.list-teams -->
                        </div><!-- /.section-content-inner -->
                    </div><!-- /.section-content -->

                    <%-if @is_owner%>
                        <div class="section-media">
                                <div class="section-media-inner">
                                    <h5>behance</h5>
                                        <ul class="list-media">
                                            <%- if @behance_projects.present?%>
                                                <%- @behance_projects.each do |item|%>
                                                    <li>
                                                        <a href="<%=item['url']%>" >
                                                            <img src="<%=item['covers'].first[1]%>" width="181" height="135" alt="<%=item['name']%>">
                                                        </a>
                                                    </li>
                                                <%end%>
                                            <%else%>
                                                <%- 3.times do |t|%>
                                                    <li>
                                                        <%=image_tag "placeholder_img@2x.jpg", :width => "181", :height => "135" %>
                                                    </li>
                                                <%end%>
                                            <%end%>
                                        </ul><!-- /.list-media -->
                                </div><!-- /.section-media-inner -->
                                <div class="section-media-inner">
                                    <h5>Dribble</h5>

                                    <ul class="list-media">
                                        <%- if @dribbble_shots.present?%>
                                            <%- @dribbble_shots.each do |item|%>
                                                <li>
                                                    <a href="<%=item.html_url%>">
                                                        <img src="<%=item.images['normal']%>" alt="" width="181" height="135">
                                                    </a>
                                                </li>
                                            <%end%>
                                        <%else%>
                                            <%- 3.times do |t|%>
                                                <li>
                                                    <%=image_tag "placeholder_img@2x.jpg", :width => "181", :height => "135" %>
                                                </li>
                                            <%end%>
                                        <%end%>
                                    </ul><!-- /.list-media -->
                                </div><!-- /.section-media-inner -->
                                <div class="section-media-inner">
                                    <h5>Vimeo</h5>

                                    <%- if @vimeo_video.present?%>
                                        <div class="video">
                                                <iframe src="https://player.vimeo.com/video/<%=@vimeo_video['id']%>" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        </div><!-- /.video -->
                                    <%else%>
                                        <%=image_tag "placeholder_video@2x.jpg", :width => "640", :height => "360" %>
                                    <%end%>
                                </div><!-- /.section-media-inner -->
                        </div><!-- /.section-media -->
                    <%end%>
                </div><!-- /.section-inner -->
            </section><!-- /.section-about -->
        </div><!-- /.shell -->
    </div><!-- /.main -->

    <div class="modal modal-medium fade" id="modal-avatar">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                    <i class="ico-close"></i>
                </button>

                <div class="modal-body">
                    <div class="form form-avatar">
                        <%= render :partial => 'pages/profile_page_avatar'  %>
                    </div><!-- /.form-action -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<%= render :partial => 'pages/modals_edit'  %>
