<footer class="footer">
	<div class="shell">
		<nav class="footer-nav">
			<ul>
				<li>
					<!-- <a href="#">Home</a> -->
					<%= link_to 'Home', root_path %>
				</li>
				
				<li>
					<a href="<%= about_path %>" >About Us</a>
				</li>
				
				<li>
					<a href="http://blog.roooster.co/" >Blog</a>
				</li>
				
				<li>
					<a href="<%= faq_path %>" >FAQ</a>
				</li>
			</ul>
		
			<ul>
				<li>
					<a href="<%= terms_path %>" >Terms And Conditions</a>
				</li>
				
				<li>
					<a href="<%= privacy_path %>" >Privacy Statement</a>
				</li>
				
				<li>
					<a href="<%= contact_us_path %>" >Contact Us</a>
				</li>
			</ul>
		</nav><!-- /.footer-nav -->
		
		<div class="footer-socials">
			<ul>
				<li>
					<a href="https://www.linkedin.com/company/roooster" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
				
				<li>
					<a href="https://twitter.com/Rooosterco" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				
				<li>
					<a href="https://www.facebook.com/theroooster" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
				</li>
			</ul>
		</div><!-- /.footer-socials -->
	</div><!-- /.shell -->

	<div class="footer-bar">
		<div class="copyright">
			<p>&copy; Roooster 2015</p>
		</div><!-- /.copyright -->
	</div><!-- /.footer-bar -->
</footer><!-- /.footer -->