<header class="header header-alt">
	<div class="shell">
		<div class="header-logged">
			<div class="user">
				<div class="dropdown">
					
					<a href="#" class="user-image" data-toggle="dropdown">
						<%#=image_tag(current_user.profile_image , class: "user-main-image", :alt=>current_user.firstname)%>
						<%=profile_image current_user , {class: "user-main-image", :alt=>current_user.firstname,width: '100%' ,height: '100%'} %>
					</a><!-- /.user-image -->

					<a href="<%= inbox_path %>" class="user-btn">
						<span class="user-btn-icon">
							<i class="fa fa-envelope"></i>
							
							<% if current_user.has_active_messages? %>
								<i class="ico-new-message"></i>
							<% end %>
						</span>

						<span class="user-btn-label">Inbox</span>
					</a>

					<a href="#" class="dropdown-btn" data-toggle="dropdown">
						<span class="btn-icon"><i class="ico-arrow-down-small"></i></span>
					</a>

					<ul class="dropdown-menu">
						<% if current_user.admin?  %>
						<li><%= link_to 'Users', users_path %></li>
						<li>
							<a href="#modal-edit-profile-admin" data-toggle="modal">Edit</a>
						</li>
						<% elsif current_user.profile?  %>
						<li>
							<a href="#modal-edit-profile" data-toggle="modal">Edit Profile</a>
						</li>
						<% end %>

						<li>
							<a href="##modal-edit-profile-passowrd" data-toggle="modal">Password</a>
						</li>
						
						<li>
							<%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
						</li>
					</ul><!-- /.dropdown-menu -->
				</div><!-- /.dropdown -->
			</div><!-- /.user -->
		</div><!-- /.header-logged -->

		<!-- <a href="home.html" class="logo">roooster</a> -->
		<%= link_to 'roooster', root_path, class: 'logo'  %>
		<span class="slogan">Collaborative Roster For Creative Leaders</span>

		<%- if @top_search -%>
		<div class="header-actions header-actions-search hidden-xs" >
				<div class="search search-alt">
					<!-- <form action="?" method="get">
						<label for="q" class="hidden">Search</label>

						<input type="search" name="q" id="q" value="" placeholder="" class="form-control search-field">

						<button type="submit" class="search-btn">
							<i class="fa fa-search"></i>
						</button>
					</form> -->

					<%= form_tag({ :controller => 'profiles', :action => 'index'}, :method => :get, :id => 'query_form') do %>
						<label for="q" class="hidden">Search</label>
						<%= text_field_tag(:search, params[:search], :autocomplete => "off", :class => "form-control search-field live_search_field", :placeholder => '' ) %>
						<button type="submit" class="search-btn" id="submit_search_form">
							<i class="fa fa-search"></i>
						</button>
					<% end %>



					<div class="dropdown">
						<a href="#" class="dropdown-btn" data-toggle="dropdown">
							<span class="btn-icon">
								<i class="ico-arrow-right-small"></i>

								<span class="btn-icon-alt">
									<i id="search-icon"></i>
								</span>
							</span>
						</a>

						<ul class="dropdown-menu">
							<li>
								<a href="#search-icon" data-change-class="">All</a>
							</li>

							<li>
								<a href="#search-icon" data-change-class="ico-location">Location</a>
							</li>

							<li>
								<a href="#search-icon" data-change-class="ico-people">People</a>
							</li>

							<li>
								<a href="#search-icon" data-change-class="ico-skills">Skill</a>
							</li>
						</ul><!-- /.dropdown-menu -->
					</div><!-- /.dropdown -->
				</div><!-- /.search search-alt -->
			</div><!-- /.header-actions -->
		<%- end -%>

		<div class="header-actions visible-xs">
			<ul>
				<li>
					<a href="#">
						<i class="fa fa-envelope"></i>

						<% if current_user.has_active_messages? %>
							<i class="ico-new-message"></i>
						<% end %>
					</a>
				</li>

				<li>
					<a href="#modal-search" data-toggle="modal">
						<i class="fa fa-search"></i>
					</a>
				</li>
			</ul>
		</div><!-- /.header-actions -->
	</div><!-- /.shell -->
</header><!-- /.header -->