<div class="modal fade" id="modal-edit-profile-admin">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-signup">
					<%= form_for(current_user, :as => :user, :url => registration_path(:user),:remote => true , :html => { :method => :put, :role => 'form', "data-parent"=>"modal-edit-profile-admin"}) do |f| %>
					<div class="form-inner">
						<div class="form-head">
							<h4 class="form-title">Admin Profile</h4>
						</div>

						<div class="form-body">
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-email" class="form-label">
												Email
											</label>

											<div class="form-controls">
												<%= f.text_field :email, :no_label => true , :class =>"form-control" ,:placeholder => "", :type=>"email" %>
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-email2" class="form-label">Additional Email</label>
											
											<div class="form-controls">
												<%= f.text_field :email2, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"email" %>
											</div>
											
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-first-name" class="form-label">First Name</label>

											<div class="form-controls">
												<%= f.text_field :firstname, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-last-name" class="form-label">Last Name</label>

											<div class="form-controls">
												<%= f.text_field :lastname, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<div class="form-row">
											<%= f.label :password , class: 'form-label'%>
											<div class="form-controls">
												<%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-row">
											<%= f.label :password_confirmation , class: 'form-label'%>
											<div class="form-controls">
												<%= f.password_field :password_confirmation, class: 'form-control' %>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="form-actions">
							<input type="submit" value="Update" class="btn form-btn">
							<!-- <button class="btn btn-light">Reset my password</button> -->
						</div>

						<div class="form-error">
							<p></p>
						</div>
					</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>




<div class="modal fade" id="modal-edit-profile-studio">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-signup">
					<!-- <form action="?" method="post"> -->
					<%= form_for(current_user, :as => :user, :url => registration_path(:user),:remote => true , :html => { :method => :put, :role => 'form', "data-parent"=>"modal-edit-profile-studio"}) do |f| %>
						<div class="form-inner">
							<div class="form-head">
								<h4 class="form-title">My Studio Profile</h4><!-- /.form-title -->
							
								<p>Looking good!</p>
							</div><!-- /.form-head -->
							
							<div class="form-body">
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-row">
												<label for="field-username" class="form-label">
													Email <em>(cannot be changed)</em>
												</label>
												
												<div class="form-controls">
													<!-- <input type="text" class="form-control" name="field-username" id="field-username" value="" placeholder=""> -->
													<%= f.text_field :email, :no_label => true , :class =>"form-control" ,:placeholder => "", disabled: true , :type=>"email" %>
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->
										</div><!-- /.col-sm-6 -->
										
										<div class="col-sm-6">
											<div class="form-row">
												<label for="field-additional-email" class="form-label">Additional Email</label>
												<%= f.fields_for :studio do |builder| %>
												<div class="form-controls">
													<!-- <input type="text" class="form-control" name="field-additional-email" id="field-additional-email" value="" placeholder=""> -->
													<%= builder.text_field :email, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"email" %>
												</div><!-- /.form-controls -->
												<% end %>
											</div><!-- /.form-row -->
										</div><!-- /.col-sm-6 -->
									</div><!-- /.row -->
									
									<div class="row">
										<div class="col-sm-6">
											<div class="form-row">
												<label for="field-first-name" class="form-label">First Name</label>
												
												<div class="form-controls">
													<!-- <input type="text" class="form-control" name="field-first-name" id="field-first-name" value="" placeholder=""> -->
													<%= f.text_field :firstname, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->
										</div><!-- /.col-sm-6 -->
										
										<div class="col-sm-6">
											<div class="form-row">
												<label for="field-last-name" class="form-label">Last Name</label>
												
												<div class="form-controls">
													<!-- <input type="text" class="form-control" name="field-last-name" id="field-last-name" value="" placeholder=""> -->
													<%= f.text_field :lastname, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->
										</div><!-- /.col-sm-6 -->
									</div><!-- /.row -->
							
							<%= f.fields_for :studio do |builder| %>
									<div class="form-row">
										<label for="field-location" class="form-label">
											Location <em>(City, State, Country)</em>
										</label>
										
										<div class="form-controls">
											<!-- <input type="text" class="form-control" name="field-location" id="field-location" value="" placeholder=""> -->
											<%= builder.text_field :location, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.form-group -->
							
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-row">
												<label for="field-company-name" class="form-label">Company Name</label>
												
												<div class="form-controls">
													<!-- <input type="text" class="form-control" name="field-company-name" id="field-company-name" value="" placeholder=""> -->
													<%= builder.text_field :company_name, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->
										</div><!-- /.col-sm-6 -->
										
										<div class="col-sm-6">
											<div class="form-row">
												<label for="field-website" class="form-label">Company Website</label>
												
												<div class="form-controls">
													<!-- <input type="text" class="form-control" name="field-website" id="field-website" value="" placeholder=""> -->
													<%= builder.text_field :company_website, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->
										</div><!-- /.col-sm-6 -->
									</div><!-- /.row -->
																		
									
									<div class="form-row">
										<label for="field-social-links" class="form-label">Job Title</label>
										
										<div class="form-controls">
											<!-- <input type="text" class="form-control" name="field-social-links" id="field-social-links" value="" placeholder=""> -->
											<%= builder.text_field :job_title, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
									

									<div class="form-row">
										<label for="field-social-links" class="form-label">Social Links</label>
										
										<div class="form-controls">
											<!-- <input type="text" class="form-control" name="field-social-links" id="field-social-links" value="" placeholder=""> -->
											<%= builder.text_field :social_links, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->



								<% end %>
								
								</div><!-- /.form-group -->
							</div><!-- /.form-body -->
							
							<div class="form-actions">
								<input type="submit" value="Update" class="btn form-btn">
								
								<button class="btn btn-light">Reset my password</button>
							</div><!-- /.form-actions -->
							
							<div class="form-error">
								<p></p>
							</div><!-- /.form-error -->
						</div><!-- /.form-inner -->

						<div class="form-foot">
							<p>Need help? <a href="mailto:info@roooster.net">drop us a line</a>.</p>
						</div><!-- /.form-foot -->
					<!-- </form> -->
					<% end %>
				</div><!-- /.form-signup -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal-edit-profile-freelancer">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-signup">
					<!-- <form action="?" method="post"> -->
					<%= form_for(current_user, :as => :user, :url => registration_path(:user),:remote => true , :html => { :method => :put, :role => 'form', "data-parent"=>"modal-edit-profile-freelancer"}) do |f| %>
					<div class="form-inner">
						<div class="form-head">
							<h4 class="form-title">My Freelancer Profile</h4><!-- /.form-title -->

							<p>Looking good!</p>
						</div><!-- /.form-head -->

						<div class="form-body">
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-freelancer-username" class="form-label">
												Email <em>(cannot be changed)</em>
											</label>

											<div class="form-controls">
												<!-- <input type="text" class="form-control" name="field-freelancer-username" id="field-freelancer-username" value="" placeholder=""> -->
												<%= f.text_field :email, :no_label => true , :class =>"form-control" ,:placeholder => "", disabled: true , :type=>"email" %>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col-sm-6 -->

									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-freelancer-additional-email" class="form-label">Additional Email</label>

											<%= f.fields_for :freelancer do |builder| %>
												<div class="form-controls">
													<!-- <input type="text" class="form-control" name="field-additional-email" id="field-additional-email" value="" placeholder=""> -->
													<%= builder.text_field :email, :no_label => true , :class =>"form-control" ,:placeholder => ""  , :type=>"email"%>
												</div><!-- /.form-controls -->
											<% end %>
										</div><!-- /.form-row -->
									</div><!-- /.col-sm-6 -->
								</div><!-- /.row -->

								<div class="row">
									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-freelancer-first-name" class="form-label">First Name</label>

											<div class="form-controls">
												<!-- <input type="text" class="form-control" name="field-freelancer-first-name" id="field-freelancer-first-name" value="" placeholder=""> -->
												<%= f.text_field :firstname, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col-sm-6 -->

									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-freelancer-last-name" class="form-label">Last Name</label>

											<div class="form-controls">
												<!-- <input type="text" class="form-control" name="field-freelancer-last-name" id="field-freelancer-last-name" value="" placeholder=""> -->
												<%= f.text_field :lastname, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col-sm-6 -->
								</div><!-- /.row -->
								<%= f.fields_for :freelancer do |builder| %>	
								<div class="form-row">
									<label for="field-freelancer-location" class="form-label">
										Location <em>(City, State, Country)</em>
									</label>

									<div class="form-controls">
										<!-- <input type="text" class="form-control" name="field-freelancer-location" id="field-freelancer-location" value="" placeholder=""> -->
										<%= builder.text_field :location, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
									</div><!-- /.form-controls -->
								</div><!-- /.form-row -->
							</div><!-- /.form-group -->
							
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-website" class="form-label">Website</label>

											<div class="form-controls">
												<!-- <input type="text" class="form-control" name="field-website" id="field-website" value="" placeholder=""> -->
												<%= builder.text_field :online_portfolio, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col-sm-6 -->

									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-linkedin" class="form-label">LinkedIn</label>

											<div class="form-controls">
												<!-- <input type="text" class="form-control" name="field-linkedin" id="field-linkedin" value="" placeholder=""> -->
												<%= builder.text_field :linkedin_profile, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col-sm-6 -->
								</div><!-- /.row -->

								<div class="row">
									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-behance" class="form-label">Behance</label>

											<div class="form-controls">
												<!-- <input type="text" class="form-control" name="field-behance" id="field-behance" value="" placeholder=""> -->
												<%= builder.text_field :behance, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col-sm-6 -->

									<div class="col-sm-6">
										<div class="form-row">
											<label for="field-vimeo" class="form-label">Vimeo</label>

											<div class="form-controls">
												<!-- <input type="text" class="form-control" name="field-vimeo" id="field-vimeo" value="" placeholder=""> -->
												<%= builder.text_field :vimeo, :no_label => true , :class =>"form-control" ,:placeholder => "" , :type=>"url"%>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col-sm-6 -->
								</div><!-- /.row -->

								<div class="form-row">
									<label for="field-skills" class="form-label">Skills</label>

									<div class="form-controls">
										<!-- <input type="text" class="form-control" name="field-skills" id="field-skills" value="" placeholder=""> -->
										<%= builder.text_field :skills, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
									</div><!-- /.form-controls -->
								</div><!-- /.form-row -->
								<% end %>
							</div><!-- /.form-group -->
						</div><!-- /.form-body -->

						<div class="form-actions">
							<!-- <input type="submit" value="Update" class="btn form-btn"> -->
							<%= f.submit 'Update', :class => 'btn form-btn' %>

							<button class="btn btn-light">Reset my password</button>
						</div><!-- /.form-actions -->

						<div class="form-error">
							<p></p>
						</div><!-- /.form-error -->
					</div><!-- /.form-inner -->

					<div class="form-foot">
						<p>Need help? <a href="mailto:info@roooster.net">drop us a line</a>.</p>
					</div><!-- /.form-foot -->
					<!-- </form> -->
					<% end %>

				</div><!-- /.form-signup -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->