<div class="modal modal-small fade" id="modal-signup" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-signup">

					<%#= form_for(@user  || User.new, :as => :user, :url => register_path(:user,studio: true),:remote => true , :html => { "data-error-id" => "studio_register_form" , :class => "register_form" ,:role => 'form', "data-parent" => "modal-signup"}) do |f| %>

					<%= form_for(@user || User.new, :as => :user, :url => user_registration_path(:user),:remote => true , :html => { "data-error-id" => "studio_register_form" , :class => "register_form" ,:role => 'form', "data-parent" => "modal-signup"}) do |f| %>

					<div class="form-inner-alt">
						<div class="form-head">
							<h4 class="form-title">Sign Up</h4>

							<p>We just need a few details.</p>
						</div>

						<div class="form-body">
							<div class="form-row">
								<label for="field-studio-first-name" class="form-label">First Name<span class="form-asterisk">*</span></label>

								<div class="form-controls">
									<%= f.text_field :firstname, :required => true, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
								</div>
							</div>

							<div class="form-row">
								<label for="field-studio-last-name" class="form-label">Last Name<span class="form-asterisk">*</span></label>

								<div class="form-controls">
									<%= f.text_field :lastname, :required => true, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
								</div>
							</div>

							<div class="form-row">
								<label for="field-studio-work-email" class="form-label">Email<span class="form-asterisk">*</span></label>

								<div class="form-controls">
									<%= f.text_field :email, :required => true, :no_label => true , :class =>"form-control" ,:placeholder => ""  , :type=>"email"%>
								</div>
							</div>

							<div class="form-row">
								<label for="field-studio-password" class="form-label">Password<span class="form-asterisk">*</span></label>

								<div class="form-controls">
									<%= f.password_field :password, :required => true, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
								</div>
							</div>

							<div class="form-row">
								<label for="field-studio-password_confirmation" class="form-label">Confirm Password<span class="form-asterisk">*</span></label>

								<div class="form-controls">
									<%= f.password_field :password_confirmation, :required => true, :no_label => true , :class =>"form-control" ,:placeholder => "" %>
								</div>
							</div>

							<div class="form-row form-row-alt">
								<div class="checkbox">
									<%= f.check_box(:terms_of_service) %>
									<%= f.label(:terms_of_service,"I agree to #{link_to('Roooster terms',terms_path,target: "_blank")}".html_safe) %>
									<!-- <label for="field-studio-terms">I agree to <a href="#">Roooster terms</a>.</label> -->
								</div>

								<div class="checkbox">
									<%= f.check_box(:subscribe) %>
									<%= f.label(:subscribe,"Get the latest news from Roooster.") %>
									<%#= check_box_tag("field-studio-subscribe", checked = false) %>
									<!-- <label for="field-studio-subscribe">Get the latest news from Roooster.</label> -->
								</div>
							</div>
						</div>

						<div class="form-actions text-center">
							<input type="submit" value="Join Us" class="btn form-btn">
							<i class="fa fa-spinner fa-2x fa-pulse hidden"></i>
						</div>

						<div class="form-error" id="studio_register_form">
							<p></p>
						</div>
					</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-small fade" id="modal-signin" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-signin">
					<%= form_for(@user  || User.new, :as => :user, :url => session_path(:user) , :remote => true , :html => { :id => "signin_form_id",:class => "signin_form" ,:role => 'form', "data-parent" => "modal-signin"}) do |f| %>
					<div class="form-inner">
						<div class="form-head">
							<h4 class="form-title">Sign In</h4>

							<p>Great to see you again!</p>
						</div>

						<div class="form-body">
							<div class="form-row">										
								<div class="form-controls">

									<%= f.text_field :email, :required => true, :no_label => true , :class =>"form-control" ,:placeholder => "Email", :type=>"email" %>
								</div>
							</div>

							<div class="form-row">										
								<div class="form-controls">

									<%= f.password_field :password,:required => true, :no_label => true , :class =>"form-control" ,:placeholder => "Password" %>
								</div>
							</div>

							<div class="form-row">

								<div class="checkbox">
									<%= f.check_box :remember_me %>
									<%= f.label :remember_me, "Remember me on this computer" %>
								</div>

								<a data-dismiss="modal" data-toggle="modal" href="#modal-forget-password">Forgot password?</a>
							</div>
						</div>

						<div class="form-actions text-center">
							<%= f.submit 'Sign in', :class => 'btn form-bt' %>
							<i class="fa fa-spinner fa-2x fa-pulse hidden"></i>
						</div>

						<div class="form-error" id="sign-in-form-error">
							<p></p>
						</div>
					</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-small fade" id="modal-forget-password" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-signin">

					<%= form_for(@user  || User.new, :as => :user, :url => password_path(:user), :remote => true , :html => { :method => :post,:role => 'form',"data-parent" => "modal-forget-password" , :id => "forget_password_form_id" }) do |f| %>
					<div class="form-inner">
						<div class="form-head">
							<h4 class="form-title">Forgot your password?</h4>
							<p>Please enter your email address which matches your Roooster user profile.</p>
						</div>

						<div class="form-body">
							<div class="form-row">										
								<div class="form-controls">
									<%= f.text_field :email, :required => true , :autofocus => true, :no_label => true , :class =>"form-control" ,:placeholder => "Email", :type=>"email" %>
								</div>
							</div>
						</div>
						
						<div class="form-actions text-center">
							<%= f.submit 'Reset Password', :class => 'btn form-bt' %>
							<i class="fa fa-spinner fa-2x fa-pulse hidden"></i>
						</div>

						<div class="form-error form-forget-password-error">
							<p></p>
						</div>
					</div>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>