<section class="section-search section-search-alt">
	<h2 class="section-title">Find Great Professionals For Your Team</h2><!-- /.section-title -->

	<div class="section-body">
		<div class="search">
			<div class="search-body">
				<%= form_tag({ :controller => 'profiles', :action => 'index'}, :method => :get, :id => 'query_form') do %>
					<label for="q" class="hidden">Search</label>
					<%= text_field_tag(:search, params[:search], :autocomplete => "off", :class => "form-control search-field live_search_field", :placeholder => '' ) %>
					<button type="submit" class="search-btn" id="submit_search_form">
						<i class="fa fa-search"></i>
					</button>
				<% end %>


				<div class="dropdown">
					<a href="#" class="dropdown-btn" data-toggle="dropdown">
						<span class="btn-icon">
							<i class="ico-arrow-right-small"></i>

							<span class="btn-icon-alt">
								<i id="search-icon"></i>
							</span>
						</span>
					</a>

					<ul class="dropdown-menu">
						<li>
							<a href="#search-icon" data-change-class="">All</a>
						</li>

						<li>
							<a href="#search-icon" data-change-class="ico-location">Location</a>
						</li>

						<li>
							<a href="#search-icon" data-change-class="ico-people">People</a>
						</li>

						<li>
							<a href="#search-icon" data-change-class="ico-skills">Skill</a>
						</li>
					</ul><!-- /.dropdown-menu -->
				</div><!-- /.dropdown -->
			</div><!-- /.search-body -->

			<div class="search-foot">
				<span>Popular Searches:</span>

				<ul>
					<li>
						<a href="<%=profiles_index_path(:search=>'',:skills => 'Motion Graphics') %>"> Motion Graphics</a>
					</li>

					<li>
						<a href="<%=profiles_index_path(:search=>'',:skills => '2D Animation') %>">2D Animation</a>
					</li>

					<li>
						<a href="<%=profiles_index_path(:search=>'',:skills => 'Art Direction') %>">Art Direction</a>
					</li>

					<li>
						<a href="<%=profiles_index_path(:search=>'',:skills => 'VFX') %>">VFX</a>
					</li>

					<li>
						<a href="<%=profiles_index_path(:search=>'',:skills => 'Illustration') %>">Illustration</a>
					</li>
				</ul>
			</div><!-- /.search-foot -->
		</div><!-- /.search -->
	</div><!-- /.section-body -->
</section><!-- /.section-search -->

<section class="section-team">
	<header class="section-head">
		<h4 class="section-title">
			<span>My Teams</span>
		</h4><!-- /.section-title -->
	</header><!-- /.section-head -->

	<div class="section-body">
		<ul class="teams teams-sortable">
			
			<% team_contacts = current_user.my_contacts_team %>
			<li class="team team-highlighted">
				<%= link_to team_contacts , class: "team-inner"  do %>
					<div class="team-image">
						<%=image_tag team_contacts.team_image, { alt: "" } %>
						<div class="team-actions" >
							<span class="team-count team-count-<%=team_contacts.id%> team-count-backet"><%= team_contacts.team_profiles.count %></span>
						</div><!-- /.team-actions -->
					</div><!-- /.team-image -->

					<div class="team-title"><%= team_contacts.name %></div><!-- /.team-title -->
				<% end %>
			</li><!-- /.team -->

			<% current_user.ordered_teams.each do |team| %>
				<li class="team team-sortable">
					<%= render :partial => 'teams/team' , :locals =>  { team: team }%>
				</li>
			<% end %>

			<li class="team">
				<a href="#template-team" class="team-inner team-create">
					<div class="team-image">
						<%=image_tag "team-default.jpg", { alt: "" } %>
						<div class="team-actions">
							<span class="team-add">
								<i class="ico-plus"></i>
							</span>
						</div><!-- /.team-actions -->
					</div><!-- /.team-image -->

					<div class="team-title">Create a team</div><!-- /.team-title -->
				</a>
			</li><!-- /.team -->
		</ul><!-- /.teams -->

		<script type="text/template" id="template-team">
			<li class="team team-sortable">
				<a href="#" class="team-inner">
					<div class="team-image">
						<img src="{{image}}" alt="">
						<div class="team-actions">
							<span class="team-count">0</span>
						</div>
					</div>

					<div class="team-title" contentEditable>{{name}}</div>
				</a>
			</li>
		</script>
	</div><!-- /.section-body -->
</section><!-- /.section-team -->

<%= javascript_tag do %>
	var team_images = <%=raw team_images %>;
<% end %>

