
<div class="main">
	<div class="shell">
		<section class="section-search">
			<h2 class="section-title">Need a great freelancer for your next project?</h2><!-- /.section-title -->

			<div class="section-body">
				<div class="search">
					<div class="search-body">
						<!-- <form action="freelancers.html" method="get">
							<label for="q" class="hidden">Search</label>

							<input type="text" class="form-control search-field">

							<button type="submit" class="search-btn">
								<i class="fa fa-search"></i>
							</button>
						</form> -->

						<%= form_tag({ :controller => 'freelancers', :action => 'index'}, :method => :get, :id => 'query_form') do %>
							<label for="q" class="hidden">Search</label>
							<!-- <input type="text" class="form-control search-field"> -->
							<%= text_field_tag(:search, params[:search], :autocomplete => "off", :class => "form-control search-field live_search_field", :placeholder => '' ) %>

							<button type="submit" class="search-btn" id="submit_search_form">
								<i class="fa fa-search"></i>
							</button>
						<% end %>



					</div><!-- /.search-body -->
					
					<div class="search-foot">
						<span>Popular Searches:</span>

						<ul>
							<li>
								<a href="<%=freelancers_index_path(:search=>'',:skiles => 'Motion Graphics') %>"> Motion Graphics</a>
							</li>

							<li>
								<a href="<%=freelancers_index_path(:search=>'',:skiles => '2D Animation') %>">2D Animation</a>
							</li>

							<li>
								<a href="<%=freelancers_index_path(:search=>'',:skiles => 'Art Direction') %>">Art Direction</a>
							</li>

							<li>
								<a href="<%=freelancers_index_path(:search=>'',:skiles => 'VFX') %>">VFX</a>
							</li>

							<li>
								<a href="<%=freelancers_index_path(:search=>'',:skiles => 'Illustration') %>">Illustration</a>
							</li>
						</ul>
					</div><!-- /.search-foot -->
				</div><!-- /.search -->
			</div><!-- /.section-body -->

			<div class="section-image">
				<!-- <img src="../images/temp/intro-image.png" height="204" width="167" alt=""> -->
				<%=image_tag "intro-image.png", { height: "204" ,width: "167" ,alt: "" } %>
			</div><!-- /.section-image -->

			<!-- <div class="section-actions visible-xs">
				<div class="dropdown">
					<a href="#" class="btn btn-default" data-toggle="dropdown">
						Jonathan <span class="btn-icon"><i class="ico-arrow-down-small"></i></span>
					</a>

					<ul class="dropdown-menu">
						<li>
							<a href="#modal-edit-profile-studio" data-toggle="modal">Edit Studio</a>
						</li>
						<li>
							<a href="#modal-edit-profile-freelancer" data-toggle="modal">Edit Freelancer</a>
						</li>
						<li>
							<a href="#">Logout</a>
						</li>
					</ul>
				</div>
			</div> -->
		</section><!-- /.section-search -->

		<div class="divider hidden-xs">
			<a href="#">
				<i class="ico-arrow-down"></i>
			</a>
		</div><!-- /.divider -->
	</div><!-- /.shell -->
</div><!-- /.main -->