	<div class="main main-toggle">
		<div class="shell">
			<section class="section-team-page section-team-page-alt section-team-page-mobile">
				<div class="section-head">
					<div class="section-head-inner">
						<div class="team-page team-page-mobile">
							<%-if @is_current_user_admin%>
								<div class="team team-sortable">
									<a href="#modal-avatar" class="team-inner" data-toggle="modal">
										<div class="team-image">
											<%=image_tag @team.image, { alt: "" ,class: "team-image-selected"} %>
											<div class="team-image-change">
												<span>
													Change<br>
													Image
												</span>
											</div><!-- /.team-image-change -->

											<div class="team-actions">
												<span class="team-count"><%= @team.team_profiles.count %></span>
											</div><!-- /.team-actions -->
										</div><!-- /.team-image -->
									</a>
								</div><!-- /.team -->
							<%else%>
								<div class="team team-sortable">
									<div class="team-image">
										<%=image_tag @team.image, { alt: "" ,class: ""} %>
										<div class="team-actions">
											<span class="team-count"><%= @team.team_profiles.count %></span>
										</div><!-- /.team-actions -->
									</div><!-- /.team-image -->
								</div><!-- /.team -->
							<%end%>

							<div class="team-page-content">
								<h4 class="team-page-name" <%='contenteditable' if @is_current_user_admin%>><%= @team.name %></h4><!-- /.team-page-name -->

								<div class="team-page-description" <%='contenteditable' if @is_current_user_admin%> data-placeholder="This is where you can write a short description for this team."><%= @team.description %></div><!-- /.team-page-description -->
							</div><!-- /.team-page-content -->

							<div class="team-page-actions">
								<a href="#" class="toggle-creatives">...</a>
							</div><!-- /.team-page-actions -->
						</div><!-- /.team-page -->
					</div><!-- /.section-head-inner -->
				</div><!-- /.section-head -->
			</section><!-- /.section-team-page -->

			<div class="chat-messages messages-wrapper">
				<% @messages.each do |message| %>
					<div class="chat-messages-section">
						<div class="chat-messages-section-head">
							<h6><span><%=message.updated_at.strftime("%B %d, %Y - %H:%M%P") %></span></h6>
						</div><!-- /.chat-messages-section-head -->

						<div class="chat-messages-section-body">
							<div class="chat-message">
								<div class="chat-message-avatar">
									<%=image_tag message.try(:from).try(:profile_image), { alt: "" ,width: "110" , height: "110"} %>
								</div><!-- /.chat-message-avatar -->

								<div class="chat-message-content">
									<h4 class="chat-message-name"><%=message.from.try(:name) if message.from %></h4><!-- /.chat-message-name -->

									<div class="chat-message-entry">
										<%=message.note.html_safe %>
									</div><!-- /.chat-message-entry -->
								</div><!-- /.chat-message-content -->
							</div><!-- /.chat-message -->
						</div><!-- /.chat-messages-section-body -->
					</div><!-- /.chat-message-section -->
				<%end%>

			</div><!-- /.chat-messages -->

			<div class="chat-reply form chat chat-channel" data-team='<%=@team.id%>' data-chan="team-<%=@team.id.to_s%>" data-mobile='true'>
				<input type="text" class="form-control send-message" id="reply" name="reply" placeholder="Write your message here">

				<div class="form-actions">
					<input id='send-button' type="submit" value="Send" class="btn">
				</div><!-- /.form-actions -->
			</div><!-- /.chat-reply -->
			<br>
			<%-if @is_current_user_admin%>
				<div class="tabs-invites creatives-add">
					<ul class="tabs-nav">
						<li>
							<a href="#invite1" data-toggle="tab">
								<div class="team team-alt">
									<div class="team-inner">
										<div class="team-image">
											<img src="/assets/rooster-placeholder.png" alt="">

											<div class="team-actions">
												<span class="team-add">
													<i class="ico-plus-red"></i>
												</span>
											</div><!-- /.team-actions -->
										</div><!-- /.team-image -->
									</div>

									<h4>ADD CREATIVES</h4>
								</div><!-- /.team -->
							</a>
						</li>
					</ul><!-- /.tabs-nav -->

					<div class="tab-content">
						<div class="tab-pane" id="invite1">
							<div class="form">
								<%= form_for(User.new, :url => batch_invite_users_path , :html => { :method => :post, :role => 'form',:remote => true , :id => 'invite_form'}) do |f| %>
									<div class="form-row">
										<div class="form-controls">
											<%= text_field_tag "user[][email]",'', :no_label => true , :class =>"form-control input-message" ,:placeholder => "Email*", :type=>"email" %>
											<%= hidden_field(:team_id, @team.id) %>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-actions">
										<button type="submit" class="form-btn btn">Submit</button>
									</div><!-- /.form-actions -->
								<%end%>
							</div><!-- /.form -->
						</div><!-- /.tab-pane -->
					</div><!-- /.tab-content -->
				</div><!-- /.tabs-invites -->
			<%end%>
		</div><!-- /.shell -->

		<div class="creatives">
			<h4>Creatives</h4>

			<ul class="users">
				<li class="user-alt">
						<div class="user-head">
							<a href="#owner-actions" class="user-image" data-toggle="collapse">
								<%=image_tag @team.owner.profile.user.profile_image, { alt: "" } %>
							</a>
							<div class='user-alt-label'><%= @team.owner.name%></div>
							<div class="user-head-placeholder">
								<span>
									Drag to the<br>
									teams menu
								</span>
							</div><!-- /.user-head-placeholder -->
						</div><!-- /.user-head -->

						<div class="user-actions-alt collapse" id="owner-actions">
							<ul>
								<li>
									<a href="#">
										<i class="ico-message-mobile"></i>

										<span>Private Message</span>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="ico-profile-mobile"></i>

										<span>Profile Page</span>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="ico-badge"></i>

										<span>Make Admin</span>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="ico-remove-mobile"></i>

										<span>Remove creative</span>
									</a>
								</li>
							</ul>
						</div><!-- /.user-actions-alt -->
					</li><!-- /.user-alt -->
				<% @accepting_profiles.each do |team_user| %>
					<li class="user-alt">
						<div class="user-head">
							<a href="#user<%=team_user.id%>-actions" class="user-image" data-toggle="collapse">
								<%=image_tag team_user.profile.user.profile_image, { alt: "" } %>
							</a>
							<div class='user-alt-label'><%= team_user.profile.user.name%></div>
							<div class="user-head-placeholder">
								<span>
									Drag to the<br>
									teams menu
								</span>
							</div><!-- /.user-head-placeholder -->
						</div><!-- /.user-head -->
						<div class="user-actions-alt collapse" id="user<%=team_user.id%>-actions">
							<ul>
								<%- if @is_current_user_admin%>
									<li>
										<a href="#">
											<i class="ico-message-mobile"></i>

											<span>Private Message</span>
										</a>
									</li>

									<li>
										<a href="<%=profile_path(team_user.id)%>" data-profile-id="<%=team_user.profile_id%>">
											<i class="ico-profile-mobile"></i>

											<span>Profile Page</span>
										</a>
									</li>

									<li>
										<a href="<%=set_group_admin_path(user_id: team_user.id, team_id: @team)%>" data-profile-id="<%=team_user.profile_id%>">
											<i class="ico-badge"></i>

											<span>Make Admin</span>
										</a>
									</li>

									<li>
										<a href="#modal-delete-profile-from-team" class='delete' data-toggle="modal" data-team-id="<%=@team.id%>" data-profile-id="<%=team_user.profile_id%>">
											<i class="ico-remove-mobile"></i>

											<span>Remove creative</span>
										</a>
									</li>
								<%else%>
									<li>
										<a href="#">
											<i class="ico-message-mobile"></i>

											<span>Private Message</span>
										</a>
									</li>

									<li>
										<a href="<%=profile_path(team_user.profile_id)%>" data-profile-id="<%=team_user.profile_id%>">
											<i class="ico-profile-mobile"></i>

											<span>Profile Page</span>
										</a>
									</li>
								<%end%>
							</ul>
						</div><!-- /.user-actions-alt -->
					</li><!-- /.user-alt -->
				<% end %>

			</ul><!-- /.users -->
			<%- if @is_current_user_admin%>
				<h4>Invitations</h4>
				<ul class='users'>
					<% @team.pending_profiles.each do |team_profile| %>
						<li class="user-alt">
							<div class="user-head">
								<a href="#user<%=team_profile.id%>-actions" class="user-image" data-toggle="collapse">
									<%=image_tag team_profile.profile.profile_image, { alt: "" ,class: 'dimmed'} %>
								</a>
								<div class="user-head-placeholder">
									<span>
										Drag to the<br>
										teams menu
									</span>
								</div><!-- /.user-head-placeholder -->
							</div><!-- /.user-head -->
							<%-if team_profile.profile.user.lastname == '-'%>
	                                <span class='name-label'><%=team_profile.profile.user.email%></span>
	                            <%else%>
	                                <span class='name-label'><%=team_profile.profile.user.name%></span>
	                            <%end%>
							    <%- if team_profile.invitation_status == 'pending'%>
								    <span class='pending'>(PENDING)</span>
								<%end%>
							    <%- if team_profile.invitation_status == 'declined'%>
								    <span class='pending'>(DECLINED)</span>
								<%end%>
							<div class="user-actions-alt collapse" id="user<%=team_profile.id%>-actions">

						        <%-if @is_current_user_admin%>
							        <ul class="dropdown-menu-actions">
							            <li>
							                <a class='delete' href="<%= canceled_invitation_url(type: 'canceled', by: 'admin', team_profile_id: team_profile.id)%>" data-profile-id="">
							                    <i class="ico-remove-mobile"></i>
							                </a>
							            </li>
							        </ul>
							        <span class='undericon hide' id='delete'>CANCEL INVITE</span>
							    <%end%>
							</div><!-- /.user-actions-alt -->
						</li><!-- /.user-alt -->
					<%end%>
				</ul>
			<%end%>
		</div><!-- /.creatives -->
	</div><!-- /.main -->

<%= render :partial => 'pages/footer'%>
</div><!-- /.wrapper -->

