<!-- <div class="authform">
  <%#= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Sign in</h3>
    <%#= devise_error_messages! %>
    <div class="form-group">
      <%#- if devise_mapping.registerable? %>
        <%#= link_to 'Sign up', new_registration_path(resource_name), class: 'right'  %>
      <%# end -%>
      <%#= f.label :email %>
      <%#= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%#- if devise_mapping.recoverable? %>
        <%#= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
      <%# end -%>
      <%#= f.label :password %>
      <%#= f.password_field :password, class: 'form-control' %>
    </div>
      <%#= f.submit 'Sign in', :class => 'button right' %>
      <%# if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label>
            <%#= f.check_box :remember_me %> Remember me
          </label>
        </div>
      <%# end -%>
  <%# end %>
</div>
 -->
<%#= render :template => 'visitors/home',:locals => { :modale => 'modal-signin' }  %>

<!-- <div class="modal modal-small fade" id="modal-signin">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
        <i class="ico-close"></i>
      </button>

      <div class="modal-body">
        <div class="form form-signin"> -->
          <%= form_for(User.new, :as => :user, :url => session_path(:user) , :remote => true , :html => { :class => "signin_form" ,:role => 'form', "data-parent" => "modal-signin"}) do |f| %>
            <div class="form-inner">
              <div class="form-head">
                <h4 class="form-title">Sign In</h4>

                <p>Great to see you again!</p>
              </div>

              <div class="form-body">
                <div class="form-row">                    
                  <div class="form-controls">
                    
                    <%= f.text_field :email, :required => true, :no_label => true , :class =>"form-control" ,:placeholder => "Email", :type=>"email" %>
                  </div>
                </div>

                <div class="form-row">                    
                  <div class="form-controls">
                    
                    <%= f.password_field :password,:required => true, :no_label => true , :class =>"form-control" ,:placeholder => "Password" %>
                  </div>
                </div>

                <div class="form-row">
                  
                  <div class="checkbox">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, "Remember me on this computer" %>
                  </div>

                  
                  <%= link_to "Forgot password?", new_password_path(:user) %>
                </div>
              </div>
              
              <div class="form-actions">
                
                <%= f.submit 'Sign in', :class => 'btn form-bt' %>
              </div>
              
              <div class="form-error" id="sign-in-form-error">
                <p></p>
              </div>
            </div>
          <% end %>
         <!--  </div>
        </div>
      </div>
    </div>
  </div> -->