<section class="section section-contact">
	<h2 class="section-title">Contact Us</h2>

	<div class="form">
		<p>If you have any question or a suggestion – we would love to hear from you.</p>
		<div>
			<%= form_tag(contact_us_path, :html => { :method => :patch, :role => 'form'}) do |f| %>
			<!-- <div class="form-head"> -->
			<!-- <h4 class="form-title"></h4> -->
			<!-- </div> -->
			<div class="form-body">
				<div class="form-group">

					<div class="row">

						<div class="col-sm-6">
							<div class="form-row">
								<div class="form-controls">
									<%= text_field_tag "message[name]",user_signed_in? ? current_user.name : '', :no_label => true,:required => true , :class =>"form-control" ,:placeholder => "Your name (required)" %>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-row">
								<div class="form-controls">
									<%= text_field_tag "message[email]",user_signed_in? ? current_user.email : '',:no_label => true,:required => true , :class =>"form-control" ,:placeholder => "Your Email (required)" , :type=>"email" %>
								</div>
							</div>
						</div>

					</div>
					<div class="section-dot">
						<div class="section-icon">
							<i class="ico-dots"></i>
						</div>
					</div>

					<div class="form-row">
						<div class="form-controls">
							<%= text_field_tag "message[subject]",'', :no_label => true,:required => true , :class =>"form-control" ,:placeholder => "Subject" %>
						</div>
					</div>	

					<div class="form-row">
						<div class="form-controls">
							<%= text_area_tag "message[note]", '' , :no_label => true,:required => true ,:rows => 6, :class =>"note" ,:placeholder => "Your message" %>
						</div>
					</div>	

					<div class="form-actions">
						<input type="submit" value="send" class="btn form-btn">
					</div>

					<div class="form-error">
						<p></p>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>