<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Roooster" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Roooster" %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700italic,700,500italic,500,400italic,300,300italic">
    <%= csrf_meta_tags %>
    <%= favicon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= google_analytics %>
  </head>
  <body>
    <div class="wrapper">

    <%# if user_signed_in? && current_user.admin? %>
        <%#= render 'layouts/admin_navigation' %>  
    <% if user_signed_in? %>
        <%= render :partial => 'pages/header_logged' %>
    <% else %>    
        <%= render :partial => 'pages/header' %>
    <% end %>
   
    <!-- <main role="main"> -->
        <div id="ajax-indicator" style="display:none;"><span></span></div>
        <%#= render 'layouts/messages' %>
        <%= yield %>
    <!-- </main> -->

    <% if user_signed_in? %>
        <%= render :partial => 'pages/modals_edit' %>  
        <% if @hide_footer %>
          <%= render :partial => 'pages/modal_delete_message'%>
          <%= render :partial => 'pages/modal_report_message'%>
          <%= render :partial => 'pages/modal_ignore_user'%>  
        <% end %>         
    <% else %>
         <%= render :partial => 'pages/modals_sign' %>    
    <% end %>
    <%= render :partial => 'pages/modals_alt' %>
    <%= render :partial => 'pages/footer' unless  @hide_footer %>
    
    </div><!-- /.wrapper -->  
  </body>
</html>