<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Roooster" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Roooster" %>">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700italic,700,500italic,500,400italic,300,300italic">
    <%= csrf_meta_tags %>
    <%= favicon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
  </head>
  <body>
    <div class="wrapper">

    <%# if user_signed_in? && current_user.admin? %>
        <%#= render 'layouts/admin_navigation' %>  
    <%# elsif user_signed_in? %>
        <%#= render :partial => 'pages/header_logged' %>
    <%# else %>    
        <%#= render :partial => 'pages/header' %>
    <%# end %>

    <header class="header">
      <div class="shell">
        <%= link_to 'roooster', root_path, class: 'logo'  %>
        <span class="slogan">Collaborative Roster For Creative Leaders</span>

        <div class="header-actions hidden-xs">
        
        </div>
      </div>
    </header>
   
    <main role="main">
        <div id="ajax-indicator" style="display:none;"><span>moment...</span></div>
        <%#= render 'layouts/messages' %>
        <%= yield %>
    </main>

    <%# if user_signed_in? %>
         <%#= render :partial => 'pages/modals_edit' %>    
    <%# else %>
         <%#= render :partial => 'pages/modals_sign' %>    
         <%#= render :partial => 'pages/modals_alt' %>
    <%# end %>

    <%= render :partial => 'pages/footer' %>
    
    </div><!-- /.wrapper -->  
  </body>
</html>